@charset "utf-8";
/* common css */
$container_width:1060px;
$container_padding:30px;
body{
	font-size: 14px;
	line-height: 1.5em;
	color: $text_color;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;	
	background : $bg_color none no-repeat 0 0 scroll;	
	margin: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* reset */
h1,h2,h3,h4,h5,h6{
	margin : 0px;
	padding : 0px;
}
.container{
	width : ($container_width + $container_padding);
}

p{ margin : 0px; }

a:hover{text-decoration : none;}

/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/
$primary_width:750px;
$sidebar_width:280px;
$primary_margin:$container_width - $primary_width - $sidebar_width;

#wrapper {
	min-width: 1090px;
	overflow: hidden;
}

#wrapper img {
    max-width: 100%;
}

.contain{
	max-width : $container_width;
	margin : 0px auto;
}

.primary{	
	.primary-row{
		margin-top: 40px;
		.primary-row{
			margin-top: 20px;
		}
		.primary-row:first-child{
			margin-top: 0px;
		}
	}
	.primary-row:first-child{
		margin-top: 0px;
	}
}

.sidebar{	
	.sidebar-row{
		margin-top: 40px;
	}
	.sidebar-row:first-child{
		margin-top: 0px;
	}
}

.two-cols-left{	
	.primary{
		width: $primary_width;
		float : left;
		margin-left: $sidebar_width + $primary_margin;
	}
	.sidebar{
		width: $sidebar_width;
		float : left;		
		margin-left: - ($primary_width+ $sidebar_width + $primary_margin);
	}
}

.two-cols-right{
	.primary{
		float : left;
		width: $primary_width;
		margin-right: $primary_margin;
	}
	.sidebar{
		float : left;
		width: $sidebar_width;
	}
}

/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em{ line-height : 2em; }
.ln18em{ line-height : 1.8em; }
.ln15em{ line-height : 1.5em; }

img{
    border: 0;
    height: auto;
    vertical-align: middle;
}


/* LAYOUT TOP */
#top{	
	background: $bg_color url("../img/common/header_top_bg.jpg") no-repeat center center scroll;			
	height: 36px;
	.top-text{
		float: left;
		line-height: 30px;
		font-size: 11px;
	}		
	.top-navi{
		line-height: 30px;
		list-style: none;
		margin: 0;
		padding: 0;
		float: right;
		li{			
			display: inline-block;
			padding: 0px 10px;			
			a{		
				color: $text_color;
				font-size: 11px;
				.fa-arrow-right{
					padding-right: 5px;
					color: #009F8F;
				}
				&:hover{					
					color: $hover_color;
				}
			}
			a.top-navi-current{				
				color: $hover_color;
			}			
		}
		
		li:last-child {
			padding: 0 0 0 10px;
		}
	}
}


header{
	background: $bg_color url("../img/common/header_bg.jpg") no-repeat center center scroll;			
	height: 92px;
	.header-content{
		padding-top: 30px;
		.logo{
			float : left;
		}
		.header-tel{
			padding-left: 155px;
			float: left;
		}
		.header-con{
			padding-left: 45px;
			float: left;
		}
	}
}

nav{
	background: $bg_color url("../img/common/header_navi_bg.jpg") no-repeat center center scroll;			
	height: 107px;
	.navi-list{				
		list-style: none;
		padding: 0;
		margin: 0;
		li{			
			float : left;	
			width: 177px;
			text-align: center;
			a{
				padding-top: 55px;
				display: block;												
				span{
					display: block;	
					text-align: center;
				}
				span.first-text{																				
					color: $text_color;
					font-family: Meiryo;
					font:{
						size: 16px;
						weight: bold;
					}
				}
				span.second-text{					
					color: $border_color;								
					font-size: 10px;				
					font-family: 'Myriad Pro';
					word-wrap: break-word;
					text-transform: uppercase;
				}
				.links-current{color: $hover_color;}
			}
		}
			
		li a:hover{
			span{
				color: $hover_color;
			}					
		}		
		li:last-child{width: 175px;}
	}
}

#banner{
	background: $bg_color url("../img/top/banner_img.jpg") no-repeat center center scroll;	
	height: 636px;
}

#top-main{
	padding: 0 10px;
	margin-top: 60px;
	.top-title{
		background: transparent url("../img/top/top_title.jpg") no-repeat 0 0 scroll;	
		height: 59px;
		margin-bottom: 25px;
		line-height: 59px;
		padding-left: 25px;
		color: $sub_color2;
		font:{
			size: 24px;
			weight: bold;
		}
		span{
			color: #FFFF00;
			font:{
				size: 32px;
				weight: bold;
			}
		}
	}
}


/* top-main-group */
.top-main-group{
	.top-main-row{
		margin-top: 25px;
		.top-main-col{
			float : left;
		}
	}
	.top-main-row:first-child{
		margin-top: 0;
	}
}
.top-main-group.top-main-col230{
	padding: 0 10px;
	.top-main-col{
		width: 230px;	
		margin-left: 40px;
		a{
			.title{
				background: transparent url("../img/top/top_main_title.jpg") no-repeat 0 0 scroll;	
				height: 43px;
				color: $sub_color2;
				text-align: center;
				line-height: 43px;
				font:{
					size: 18px;
					weight: bold;
				}
			}
			.text{
				border: 3px solid #E3E3E3;
				padding: 10px;
				height: 115px;
				color: $text_color;
			}			
		}
		&:hover{opacity: 0.7;}		
	}
	.top-main-col:first-child{
		margin-left: 0;
	}
}

/*-- breadcrumb --*/
#top-breadcrumb{	
	background: transparent url("../img/common/breadcrumb_bg.jpg") repeat-x 0 0 scroll;	
	line-height: 37px;
	color: $text_color;
	font-size: 11px;
	.home{
		color: $text_color;
	}
	a{color: $hover_color;}
	a:hover{
		color: $hover_color;		
	}
	
}

/*======= content =====*/
#content{
	padding : 60px 0px;
	
	/* message */
	.message-left{
		.image{
			float : left;
		}
		.text{
			margin-left: 20px;
			float : left;
		}
	}

	.message-right{
		.image{
			float : right;
		}
		.text{
			float : left;
			margin-right: 20px;
		}
	}
		
	.message-230{
		.image{ width : 230px; }
		.text{ width : $primary_width - 230px - 30px; }
	}
	
	.message-280{
		.image{ width : 280px; }
		.text{ width : $primary_width - 280px - 20px; }
	}
	
	.message-308{
		.image{ width : 308px; }
		.text{ width : $primary_width - 308px - 20px; }
	}

	/* message-group */
	.message-group{
		.message-row{
			margin-top: 20px;
			.message-col{
				float : left;
			}
		}
		.message-row:first-child{
			margin-top: 0;
		}
	}
	.message-group.message-col230{		
		.message-col{
			width: 230px;	
			margin-left: 30px;				
			.point{
				padding: 12px 0;
			}
			.title{
				color: #009F8E;				
				font:{
					size: 26px;
					weight: bold;
				}
			}
			.text{padding-top: 15px;}
		} 
		.message-col:first-child{
			margin-left: 0;
		}
	}
	
	.message-group.message-col240{
		.message-col{
			width: 240px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}
	
	.message-group.message-col171{
		.message-col{
			width: 171px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}
	
	.message-group.message-col370{
		.message-col{
			width: 370px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}	
	
	.message-classic{
		.message-col{
			padding: 10px;
			box-shadow: 0 0 4px 4px #e9e9e9;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;			
			.title{
				color : $main_color;
				font-size: 16px;
				line-height: 30px;
			}
			.image{
				img{
					max-width: 100%;
					height: auto;
				}
			}
			.text{
				margin-top : 7px;
				line-height: 1.5em;
			}
		}
	}

	/* heading */
	.h2-title, .h3-title{
		background: transparent url("../img/common/h2_title.jpg") no-repeat 0 0 scroll;			
		line-height: 59px;
		margin-bottom: 25px;
		padding-left: 25px;
		color: $sub_color2;
		font:{
			size: 24px;
			weight: bold;			
		}
		.h2title-clr{
			color: $hover_color;
		}
		.h2title-number{
			color: $hover_color;
			font:{
				size: 36px;
				weight: bold;
			}
		}
	}
		
	.about-title{
		@extend .h3-title;
		font-size: 22px;
	}
	
	.h3_title{
		margin-bottom: 15px;
	}
	
	.subpages-title{
		position: relative;
		margin-bottom: 25px;
		span{
			position: absolute;
			top: 45px;
			left: 45px;
			font:{
				size: 32px;
				weight: bold;
			}
		}		
	}
	.side-title{
		background: transparent url("../img/common/side_title.jpg") no-repeat 0 0 scroll;			
		line-height: 53px;
		color: $sub_color2;
		text-align: center;
		font:{
			size: 24px;
			weight: bold;
		}
	}
	
	/* sideMenu.css */		
		.sideMenu{
			background: transparent url("../img/common/side_menu_bg.jpg") no-repeat 0 0 scroll;			
			height: 432px;
			margin : 0px;
			padding : 0px;
			list-style: none;
		}
		.sideMenu li a{			
			display: block;
			line-height: 54px;									
			padding-left: 75px;	
			color: $text_color;
			font:{
				size: 16px;
				weight: bold;
			}
		}
		.sideMenu li a.sideMenu-current{color: $hover_color;}	
		.sideMenu li a:hover{color: $hover_color;}		
		/* end sideMenu */	

		/* sideNav.css */				
		.sideNav{
			border: 3px solid #e3e3e3;					
			margin : 0px;
			padding : 0px;
			list-style: none; 
		}
		.sideNav li{
			border-bottom: 1px dotted #e3e3e3;
		}
		.sideNav li:last-child{border-bottom: none;}
		.sideNav li a{			
			padding-left : 30px;
			display: block;
			line-height: 50px;
			position: relative;
			color: $text_color;
			font:{
				size: 16px;
				weight: bold;				
			}
			i.fa{
				position: absolute;
				color: #E1342A;
				font-size: 16px;
				right: 20px;
				top: 0;
				line-height: 52px;			
			}
		}	
		.sideNav li a.sideNav-current{color: $hover_color;}		
		.sideNav li a:hover{	
			color: $hover_color;			
		}
		/* end sideNav */
}



footer{
	#footer-info1{
		background: transparent url("../img/common/footer_info_bg.jpg") repeat-x 0 0 scroll;			
		line-height: 32px;	
		font-size: 11px;
	}

	#footer-info2{
		background: transparent url("../img/common/footer_info_bg.jpg") repeat-x 0 0 scroll;			
		height: 127px;		
		.footer-logo{
			padding: 34px 0;
			float : left;
		}
		.footer-tel{
			padding: 32px 0 32px 165px;
			padding-left: 155px;
			float: left;
		}
		.footer-con{
			padding: 34px 0 34px 50px;
			float: left;
		}
	}
	#footer-info3{		
		background-color: #009F8F;
		.footer-contact{			
			float: left;
			list-style: none;			
			margin: 0;
			padding: 30px 0 40px;
			margin-right: 60px;
			li{
				line-height: 40px;
				border-bottom: 1px solid #009080;
				color: $sub_color2;
				font:{
					size: 12px;
					weight: bold;
				}
			}
			li:last-child{border-bottom: none;}
		}
		.footer-col{
			float : left;			
			list-style: none;						
			padding: 0;
			width : 165px;
			border-left: 1px solid #009080;
			padding-left: 20px;
			margin: 60px 0;
			li a{
				color : $sub_color2;
				line-height: 2em;
				font:{
					size: 12px;
					weight: bold;
				}
				.fa-arrow-right{
					padding-right: 5px;					
				}
				&:hover{					
					color: #FFFF00;
				}
			}
			li a.footernavi-current{				
				color: #FFFF00;			
			}		
		}
		.footer-col:first-child{
			margin-left: 60px;
		}
	}
	#footer-copyright{
		border-top: 1px solid #007969;
		background-color: #00887A;
		line-height: 70px;
		text-align: center;
		color: $sub_color2;
		fon:{
			size: 12px;
			weight: bold;
		}
	}
}