@charset "UTF-8";
/* CSS Document */

@import '_vars';
@import '_base';
@import '_common';

/* part */
.sideBlog{
	margin-top: 10px;
	.sideBlog-title{		
		font-size: 16px;
		line-height: 30px;
		color: $main_color;
		border-bottom: 2px solid $main_color;
		margin-bottom: 10px;
	}
	ul{
		padding: 0px;
		margin: 0 0 0 15px;
		list-style: none;
		li{
			a{
				color: $text_color;
				&:hover{color: #0a9d8b;}
			}			
		}
	}
}
.sideBlog:first-child{margin-top: 0;}


/* page content */
#content{
	
	/* top */
	.top-box-botttom{margin-top: 25px;}
	.top-content-intro{
		background: transparent url("../img/top/top_content_intro.jpg") no-repeat 0 0 scroll;			
		position: relative;
		height: 271px;
		.top-conintro-title{
			position: absolute;
			top: 10px;
			left: 150px;
			right: 175px;
			line-height: 1.2em;
			color: #E0332A;			
			font:{
				size: 30px;
				weight: bold;
			}
		}
		.top-conintro-text{
			position: absolute;
			top: 90px;
			left: 150px;
			right: 160px;
			line-height: 1.2em;
			font:{	
				size: 14px;
				weight: bold;
			}
		}
		.top-conintro-list{
			position: absolute;
			bottom: 35px;
			left: 33px;			
			width: 490px;
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				float: left;
				width: 240px;
				line-height: 40px;
				margin-bottom: 10px;
				margin-left: 10px;
				text-align: center;
				color: $sub_color2;
				font:{
					size: 16px;
					weight: bold;
				}
			}
			li:nth-child(1),li:nth-child(3){margin-left: 0;}
			li:nth-child(3),li:nth-child(4){margin-bottom: 0;}
		}
		.top-conintro-btn{
			position: absolute;
			bottom: 35px;
			right: 33px;	
		}
		.top-conintro-btn a:hover{
			@include border_radius(5px);
		}
	}/*.top-content-intro*/
	
	
	.top-content-work{
		background: transparent url("../img/top/top_content_work.jpg") no-repeat 0 0 scroll;			
		position: relative;
		height: 291px;
		.top-conwork-title{
			position: absolute;
			top: 55px;
			left: 50px;
			width: 370px;
			line-height: 1.2em;
			color: $sub_color2;			
			font:{
				size: 24px;
				weight: bold;
			}
		}
		.top-conwork-text{
			position: absolute;
			top: 135px;
			left: 50px;
			width: 370px;
			line-height: 1.3em;
			font:{	
				size: 14px;
				weight: bold;
			}
		}
		.top-conwork-btn{	
			position: absolute;
			bottom: 32px;
			left: 34px;
		}
		.top-conwork-btn a:hover{
			@include border_radius(5px);
		}
	}/*.top-content-work*/
	
	.topflow-top-title{
		background: transparent url("../img/top/topflow_title.jpg") no-repeat 0 0 scroll;			
		line-height: 53px;
		margin-bottom: 25px;
		text-align: center;
		color: $text_color;
		font:{
			size: 22px;
			weight: bold;			
		}
	}
	
	.topflow-list1, .topflow-list2{			
		list-style: none;
		margin: 0;
		padding: 0;	
		position: relative;
		li{			
		    float: left;
			width: 230px;				
			margin-left: 30px;
			text-align: center;	
			a{
				.topflow-step{
					background: transparent url("../img/top/topflow_step.jpg") no-repeat 0 0 scroll;									
					line-height: 43px;
					text-transform: uppercase;						
					color: $sub_color2;
					font-size: 22px;
				}
				.topflow-info{
					border: 3px solid #E3E3E3;
					border-top: none;	
					.topflow-img{padding: 15px 0;}
					.topflow-title{						
						padding-bottom: 15px;
						color: $text_color;
						font:{
							size: 23px;
							weight: bold;
						}
					}
					.topflow-text{
						padding: 0 20px 20px 20px;
						color: $text_color;
						height: 105px;
					}
				}					
			}		
			&:hover{opacity: 0.7;}
		}
		li:first-child{margin-left: 0;}
		.topflow-farrow, .topflow-tarrow{
		    position: absolute;
			left: 230px;
			top: 145px;			
		}
		.topflow-sarrow{
		    position: absolute;
			right: 230px;
			top: 145px;			
		}
		.topflow-earrow{
			position: absolute;
			right: 230px;
			top: 135px;		
		}
	}		
	.topflow-line{text-align: center;}
	
	
	
	/*----- sack-page ----*/		
	.sack-top-left{
		float: left;
		width: 315px;
		height: 185px;
	}
	
	.sack-top-right{
		float: left;		
		margin-left: 20px;
		width: 415px;
	}
	
	#mainalbum{
		float: left;
		width: 230px;
	}		
	#mainalbum img{
		-webkit-transition: all 1s ease 0s;
		-moz-transition: all 1s ease 0s;
		-ms-transition: all 1s ease 0s;
		-o-transition: all 1s ease 0s;
		transition: all 1s ease 0s;
	}
	#mainalbum img:hover{
		cursor: pointer;
		-webkit-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-ms-transform: scale(1.5);
		-o-transform: scale(1.5);
		transform: scale(1.5);
	}
	#mainalbum span{
		display: block;		
		overflow: hidden;
	}
	
	#subalbum {
		float:left;
		margin-left: 10px;
	}		
	#subalbum .thumb{		
		cursor: pointer;
		margin-bottom: 10px;
		width: 68px;
		height: 55px;
	}		
	#subalbum p:last-child .thumb{margin-bottom: 0;}
	
	
	.sack-tabs{				
		a{			
			width: 248px;
			float : left;			
			display: block;			
			text-align: center;	
			line-height: 60px;
			color: $sub_color2;
			font:{
				size: 18px;
				weight: bold;
			}	
			.fa-arrow-down{margin-left: 15px;}
		}		
		a.guide{
			background-color: #1472D0;
			border: 1px solid #136CC6;
		}
		a.price{
			background-color: #79CA31;
			border: 1px solid #6DB52D;
		}		
		a.estimate{
			background-color: #FD7352;
			border: 1px solid #FD5931;
		}
		a.guide:hover, a.price:hover, a.estimate:hover{
			opacity: 0.7;
			filter: alpha(opacity=70); 
		}
		a.guide.selected{			
			background-color: $sub_color2;
			color: #1472D0;
		}			
		a.price.selected{			
			background-color: $sub_color2;
			color: #79CA31;
		}
		a.estimate.selected{			
			background-color: $sub_color2;
			color: #FD7352;
		}
	}
	
	#sack-content-tab{margin-top: 30px;}
	#sack-content-tab:first-child{margin-top: 0;}
	
	
	/*-----faq-page----*/
	.faq-content-question{
		background: transparent url("../img/content/faq_icon_question.png") no-repeat 0 0 scroll;									
		height: 81px;
		padding: 18px 0 0 75px;		
		font:{
			size: 20px;
			weight: bold;
		}
	}
	.faq-content-answer{
		background: transparent url("../img/content/faq_answer_bg.jpg") repeat 0 0 scroll;									
		position: relative;
		@include border_radius(5px);
		padding: 22px 35px 22px 53px;
		margin-left: 20px;
		position: relative;
		.faq-icon-answer{
			position: absolute;
			top: -15px;
			left: -20px;
		}
	}
	
	
	/*----- draft-page ----*/
	.draft-content{		
		padding-top: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid #E3E3E3;
		.fa-check-circle{
			float: left;
			color: #009F8E;
			font-size: 16px;	
			padding-top: 5px;
		}
		.draft-info{
			float: left;
			margin-left: 5px;				
			line-height: 1.8em;
		}
	}
	.draft-content:first-child{padding-top: 0;}

    .draft-content-last{
		margin-top: 30px;
		border: 1px solid #E3E3E3;
		background-color: #F9F9F9;
		padding: 25px 34px;
		.draft-info-first{
			line-height: 1.8em;
			margin-bottom: 25px;
			.draft-first-title{
				font:{
					size: 16px;
					weight: bold;
				}
			}
			.draft-icon{
				font-size: 18px;
				padding-right: 2px;
			}
		}
		
		.draft-info-last{
			padding-top: 25px;
			border-top: 1px solid #E3E3E3;
			line-height: 1.8em;
			.draft-last-title{
				font:{
					size: 16px;
					weight: bold;
				}
			}
		}
	}
	
	
	/* wpcf7 */
	.wpcf7 {
		input, select, textarea{
			background-color: #f9f9f9;	
			border: 1px solid #ccc;
			padding: 5px 10px;
			margin: 5px 5px 5px 0;
			font-size: 15px;
			line-height: normal;
		}		
		select{
			width: 250px;
			font-size: 14px;
			line-height: 1.5em;
		}
		.contact-btn{
			text-align: center;
			margin: 20px 0;
		}
		.wpcf7-confirm{		
			background : transparent url("../img/content/confirm_btn.jpg") no-repeat 0 0 scroll;		 
			width: 310px;
			height: 54px;
			text-indent: -9999px;			
			cursor: pointer;
			color: $sub_color2;
			font-size: 18px;
			border: none !important;
		}	
		
		.wpcf7-submit, .wpcf7-back{
			width: 310px;
			height: 54px;
			border: 1px solid #FD7713;
			background-color: #FD8A37;
			@include border_radius(5px);
			color: $sub_color2;
			text-align: center;
			font:{
				size: 24px;
				weight: bold;
			}
		}
		
		.wpcf7-confirm:hover{opacity: 0.7;}
	}
	
	/*----- estimate-page ----*/
	.estimation-table1{			
		width: 100%;
		margin-bottom: 40px;
		border-collapse: separate;
		border: 4px solid #009F8F;	
		border-spacing: 0;		
		tr{
			th{
				width: 30%;		
				border-bottom: 1px solid #E3E3E3;
				text-align: left;
				background: #F9F9F9;
				padding:10px 20px;
				vertical-align:middle;
				.estimate-ttitle{
					float: left;
					width: 67%;
					color: $sub_color3;
					font:{
						size: 15px;
						weight: bold;
					}
				}
				.require{
					float: right;
					width: 35px;
					line-height: 18px;
					text-align: center;
					@include border_radius(2px);
					background-color: #FF5151;
					color: $sub_color2;
					font:{
						size: 11px;
						weight: bold;
					}
				}
			}
			td{
				border-bottom: 1px solid #E3E3E3;
				padding:10px 5px 10px 20px;		
				vertical-align:middle;
				.estimate-choose3{
					list-style: none;
					margin: 0;
					padding: 0;
				}
			}
		}		
		tr:last-child th, tr:last-child td{border-bottom: none;}
	}

	.estimation-table2{		
		width: 100%;				
		border-collapse: separate;
		border: 4px solid #E3E3E3;	
		border-spacing: 0;		
		tr{
			th{
				width: 30%;				
				border-bottom: 1px solid #E3E3E3;
				text-align: left;
				background: #F9F9F9;
				padding:10px 20px;
				vertical-align:middle;
				.estimate-ttitle{
					float: left;
					width: 49%;
					color: $sub_color3;
					font:{
						size: 15px;
						weight: bold;
					}
				}
				.require{
					float: right;
					width: 35px;
					line-height: 18px;
					text-align: center;
					@include border_radius(2px);
					background-color: #FF5151;
					color: $sub_color2;
					font:{
						size: 11px;
						weight: bold;
					}
				}					
			}
			td{
				padding: 10px 20px;
				border-bottom: 1px solid #E3E3E3;				
				vertical-align:middle;		
			}
		}	
		tr:last-child th, tr:last-child td{border-bottom: none;}
	}
	
	.shape-group{	
		margin-top: 15px;
		.shape-row{
			margin-top: 5px;
			.shape-col{				
				float : left;
				width: 140px;							
				height: 113px;													
			}		
			.shape-col1{
				@extend .shape-col;
				background : transparent url("../img/content/estimate_shape_img1.jpg") no-repeat 0 0 scroll;				
			}	
			.shape-col2{
				@extend .shape-col;
				margin-left: 25px;
				background : transparent url("../img/content/estimate_shape_img2.jpg") no-repeat 0 0 scroll;		
			}	
			.shape-col3{
				@extend .shape-col;
				margin-left: 25px;
				background : transparent url("../img/content/estimate_shape_img3.jpg") no-repeat 0 0 scroll;		
			}
			.shape-col4{
				@extend .shape-col;				
				background : transparent url("../img/content/estimate_shape_img4.jpg") no-repeat 0 0 scroll;		
			}
			.shape-col5{
				@extend .shape-col;			
				margin-left: 25px;				
				background : transparent url("../img/content/estimate_shape_img5.jpg") no-repeat 0 0 scroll;		
			}
			.shape-col6{
				@extend .shape-col;			
				margin-left: 25px;				
				background : transparent url("../img/content/estimate_shape_img6.jpg") no-repeat 0 0 scroll;		
			}
			.shape-col7{
				@extend .shape-col;				
				background : transparent url("../img/content/estimate_shape_img7.jpg") no-repeat 0 0 scroll;		
			}
			.shape-col8{
				@extend .shape-col;			
				margin-left: 25px;				
				background : transparent url("../img/content/estimate_shape_img8.jpg") no-repeat 0 0 scroll;		
			}
		}				
	}/*.shape-group */
	
	.material-group{		
		margin-top: 15px;
		.material-row{
			margin-top: 5px;
			.material-col{				
				float : left;
				width: 140px;							
				height: 113px;													
			}		
			.material-col1{
				@extend .material-col;
				background : transparent url("../img/content/estimate_material_img1.jpg") no-repeat 0 0 scroll;				
			}	
			.material-col2{
				@extend .material-col;
				margin-left: 25px;
				background : transparent url("../img/content/estimate_material_img2.jpg") no-repeat 0 0 scroll;		
			}	
			.material-col3{
				@extend .material-col;
				margin-left: 25px;
				background : transparent url("../img/content/estimate_material_img3.jpg") no-repeat 0 0 scroll;		
			}
			.material-col4{
				@extend .material-col;				
				background : transparent url("../img/content/estimate_material_img4.jpg") no-repeat 0 0 scroll;		
			}
			.material-col5{
				@extend .material-col;			
				margin-left: 25px;				
				background : transparent url("../img/content/estimate_material_img5.jpg") no-repeat 0 0 scroll;		
			}
			.material-col6{
				@extend .material-col;			
				margin-left: 25px;				
				background : transparent url("../img/content/estimate_material_img6.jpg") no-repeat 0 0 scroll;		
			}
			.material-col7{
				@extend .material-col;				
				background : transparent url("../img/content/estimate_material_img7.jpg") no-repeat 0 0 scroll;		
			}			
		}				
	}/* .material-group*/		
	
	.surface-group{	
		margin-top: 15px;
		.surface-row{
			margin-top: 5px;
			.surface-col{				
				float : left;
				width: 140px;							
				height: 113px;													
			}		
			.surface-col1{
				@extend .surface-col;
				background : transparent url("../img/content/estimate_surface_img1.jpg") no-repeat 0 0 scroll;				
			}	
			.surface-col2{
				@extend .surface-col;
				margin-left: 25px;
				background : transparent url("../img/content/estimate_surface_img2.jpg") no-repeat 0 0 scroll;		
			}	
			.surface-col3{
				@extend .surface-col;
				margin-left: 25px;
				background : transparent url("../img/content/estimate_surface_img3.jpg") no-repeat 0 0 scroll;		
			}
			.surface-col4{
				@extend .surface-col;				
				background : transparent url("../img/content/estimate_surface_img4.jpg") no-repeat 0 0 scroll;		
			}
			.surface-col5{
				@extend .surface-col;			
				margin-left: 25px;				
				background : transparent url("../img/content/estimate_surface_img5.jpg") no-repeat 0 0 scroll;		
			}
			.surface-col6{
				@extend .surface-col;			
				margin-left: 25px;				
				background : transparent url("../img/content/estimate_surface_img6.jpg") no-repeat 0 0 scroll;		
			}
			.surface-col7{
				@extend .surface-col;				
				background : transparent url("../img/content/estimate_surface_img7.jpg") no-repeat 0 0 scroll;		
			}
			.surface-col8{
				@extend .surface-col;			
				margin-left: 25px;				
				background : transparent url("../img/content/estimate_surface_img8.jpg") no-repeat 0 0 scroll;		
			}
		}				
	}/*.surface-group */
		
	.box_shape{		
		margin-top: 5px;
		.radio_shape{				
			.wpcf7-list-item{										
				width: 140px;
				margin-left: 25px;
				display : inline-block;						
			}
			.wpcf7-list-item:first-child{
				margin-left: 0;
			}
		}
		.radio_print{				
			.wpcf7-list-item{														
				margin-left: 20px;
				display : inline-block;						
			}
			.wpcf7-list-item:first-child{
				margin-left: 0;
			}
		}
		.radio_foil, .radio_numberclr, .radio_deliverytime{
			@extend	.radio_print;
		}
		.radio_material, .radio_surface{
			@extend .radio_shape;
		}		
	}	
	
	#choose-thinkness{display: none;}
	#choosed-thinkness{display:display;}
		
		
/*------ about page -----*/		
.about-content-top{
	position: relative;
	background : transparent url("../img/content/about_content_top_bg.jpg") no-repeat 0 0 scroll;		
	height: 936px;
	margin-top: 30px;
	.about-contop-title{
		position: absolute;
		top: 8%;
		left: 15%;
		right: 35%;
		color: $sub_color3;
		font:{
			size: 48px;
			weight: bold;
		}		
	}
	.about-contop-ltitle, .about-contop-rtitle{	
		color: $sub_color2;
		font:{
			size: 26px;
			weight: bold;
		}
	}
	.about-contop-ltitle{
		position: absolute;
		bottom: 41%;
		left: 15%;
	}
	.about-contop-rtitle{
		position: absolute;
		bottom: 41%;
		right: 27%;
	}
	.about-contop-ltext{
		position: absolute;
		top: 62.5%;
		left: 4%;
		right: 63%;
		padding: 0;
		margin: 0;		
		list-style: none;		
		li{
			color: #06BEEB;
			margin-bottom: 12px;
			width: 100%;
			padding-left: 25px;		
			font:{
				size: 16px;
				weight: bold;
			}
		}
		li:nth-child(1){line-height: 65px;}
		li:nth-child(2){
			height: 75px;	
			padding-top: 9px;
		}
		li:nth-child(3), li:nth-child(4){line-height: 82px;}		
	}
	.about-contop-rtext{
		position: absolute;
		top: 62.5%;
		right: 3.5%;
		left: 39%;
		padding: 0;
		margin: 0;		
		list-style: none;	
		li{
			color: $text_color;			
			font-size: 13px;
			padding: 10px 20px;			
			margin-bottom: 10px;			
			.about-rtext-clr{
				color: #F80000;
				font:{
					size: 15px;
					weight: bold;
				}
			}
		}					
	}
}


/*----- privacy-page ----*/
.privacy-content{
	border: 1px solid #E3E3E3;
	background-color: #F9F9F9;
	padding: 25px 30px;
	line-height: 1.8em;
}


/*----- work-page ----*/
.work-content{
	.work-left{
		width: 308px;
		float: left;
	}
	.work-right{
		float: left;
		margin-left: 25px;
		width: 417px;				
		border-collapse: separate;
		border: 3px solid #E3E3E3;	
		border-spacing: 0;		
		tr{
			th{
				width: 90px;				
				border-bottom: 1px solid #E3E3E3;				
				background: #F9F9F9;				
				text-align: center;
				font:{
					size: 14px;
					weight: bold;
				}								
			}
			td{
				padding: 10px 20px;
				border-bottom: 1px solid #E3E3E3;								
			}
		}	
		tr:last-child th, tr:last-child td{border-bottom: none;}	
	}
}

.work-info-last{
	margin-top: 25px;
	line-height: 1.8em;
}	


/*----- company-page ----*/
.company-content{
	border-collapse: collapse;	
	border-spacing: 0;	
	width: 100%;
	tr{
		th{
			width: 220px;				
			border-bottom: 1px solid #E3E3E3;				
			background: #F9F9F9;				
			padding-left: 25px;
			text-align: left;
			font:{
				size: 14px;
				weight: bold;
			}								
		}
		td{
			padding: 20px 5px 25px 20px;
			border-bottom: 1px solid #E3E3E3;								
		}
	}		
}


/*----- factory-page ----*/
#factory-content{margin-top: 40px;}
.factory-tabs{	
	@extend .sack-tabs;
		a{
			width: 245px;
		}
		a.offset{
			background-color: #1472D0;
			border: 1px solid #136CC6;
		}
		a.flexographic{
			background-color: #79CA31;
			border: 1px solid #6DB52D;
		}		
		a.screen{
			background-color: #FD7352;
			border: 1px solid #FD5931;
		}
		a.offset:hover, a.flexographic:hover, a.screen:hover{
			opacity: 0.7;
			filter: alpha(opacity=70); 
		}
		a.offset.selected{			
			background-color: $sub_color2;
			color: #1472D0;
		}			
		a.flexographic.selected{			
			background-color: $sub_color2;
			color: #79CA31;
		}
		a.screen.selected{			
			background-color: $sub_color2;
			color: #FD7352;
		}
}

.videoWrapper {
	position: relative;
	padding-bottom: 57.4%;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 98%;
	}
}


.factory-point1{
	padding: 13px 0;
	border-top: 1px solid #E4E4E4;
	.fac-point1-left{
		float: left;
		position: relative;
		width: 81px;						
		text-align: center;		
		padding-left: 22px;
		span{
			position: absolute;
			top: 7px;
			left: 40px;
			color: $sub_color2;
			font-size: 14px;			
			font-family: 'Kozuka Gothic Pr6N';
		}
	}
	.fac-point1-right{
		float: left;
		width: 615px;		
		padding: 5px 20px 0 12px;
	}
}
.factory-point1.first-child{
	padding: 25px 0;
	.fac-point1-right{
		float: left;
		width: 615px;		
		padding: 0 20px 0 12px;
	}
}
.factory-point1:last-child{
	border-bottom: 1px solid #E4E4E4;
}

%factory-point2{		
	padding: 20px 40px;
	list-style: none;	
	margin: 0;
	li{	padding-bottom: 7px;}
	li:last-child{padding-bottom: 0;}
}

.facoffset-point2{
	@extend %factory-point2;
	background : transparent url("../img/content/facoffset_point2_bg.jpg") no-repeat 0 0 scroll;		
	height: 137px;
}
.facflex-point2{
	@extend %factory-point2;
	background : transparent url("../img/content/facflex_point2_bg.jpg") no-repeat 0 0 scroll;		
	height: 195px;
	line-height: 1.8em;
	li{	padding-bottom: 5px;}
}
.facscreen-point2{
	@extend %factory-point2;
	background : transparent url("../img/content/facscreen_point2_bg.jpg") no-repeat 0 0 scroll;		
	height: 82px;
	line-height: 1.8em;
	li{	padding-bottom: 5px;}
}

.facoffset-img{
	padding: 0 20px;
	.facoffset-img-left{float: left;}
	.facoffset-img-right{
		float: left;
		margin-left: 20px;
	}
}

.factory-subtitle{
	background: transparent url("../img/content/factory_subtitle.jpg") no-repeat 0 0 scroll;			
	line-height: 48px;
	margin-bottom: 25px;
	padding-left: 25px;
	color: $text_color;
	font:{
		size: 20px;
		weight: bold;			
	}
}

.facflex-subtitle{
	@extend .factory-subtitle;
	background: transparent url("../img/content/facflex_last_title.jpg") no-repeat 0 0 scroll;			
}

.factory-table{
	width: 100%;				
	border-collapse: separate;
	border: 4px solid #E3E3E3;	
	border-spacing: 0;
	margin-top: 40px;
	tr:first-child{
		th{
			border: 1px solid #E3E3E3;
			width: 295px;			
			text-align: center;
			color: $sub_color2;
			line-height: 42px;
			padding: 0;
			font:{
				size: 14px;
				weight: bold;
			}
		}
		th:nth-child(1){
			width: 150px;
			background-color: #F9F9F9;			
		}
		th:nth-child(2){background-color: #47BAAE;}
		th:nth-child(3){background-color: #0AA393;}
	}
	tr{
		th{
			border: 1px solid #E3E3E3;
			background-color: #F9F9F9;	
			padding: 14px 27px;	
			text-align: left;			
			font:{
				size: 14px;
				weight: bold;
			}
		}
		th.factory-th-clr{background-color: #EFEFEF;}
		td{
			border: 1px solid #E3E3E3;
			padding: 14px 24px;
		}
	}
}

.factory-ctitle{
	background: transparent url("../img/content/factory_con_title.jpg") no-repeat 0 0 scroll;			
	text-align: center;
	line-height: 43px;
	color: $sub_color2;
	font:{
		size: 18px;
		weight: bold;
	}
}

.facflex-last{
	margin-bottom: 28px;
	.facflex-ltitle{
		position: relative;	
		margin-bottom: 15px;
		span{
			position: absolute;
			top: 15px;
			left: 65px;
			color: #009F8F;
			font:{
				size: 18px;
				weight: bold;
			}
		}
	}
}
.facflex-last:last-child{margin-bottom: 0;}
	
.facscreen-last{		
	%facscreen-title{		
		line-height: 40px;
		height: 49px;
		margin-bottom: 10px;
		text-align: center;
		color: $sub_color2;
		font:{
			size: 18px;
			weight: bold;			
		}
	}
	%facscreen-text{		
		height: 82px;
		padding: 20px 40px;
		list-style: none;	
		margin: 0;
		li{	
			padding-bottom: 7px;
			font:{
				size: 14px;
				weight: bold;
			}
		}
		li:last-child{padding-bottom: 0;}
	}
	
	.facscreen-last-left{
		float: left;
		width: 365px;		
		.facscreen-ltitle{
			@extend %facscreen-title;
			background: transparent url("../img/content/facscreen_ltitle.jpg") no-repeat 0 0 scroll;			
		}
		.facscreen-ltext{
			@extend %facscreen-text;
			background : transparent url("../img/content/facscreen_ltext_bg.jpg") no-repeat 0 0 scroll;					
		}
	}
	.facscreen-last-right{
		float: left;
		width: 365px;
		margin-left: 20px;
		.facscreen-rtitle{
			@extend %facscreen-title;
			background: transparent url("../img/content/facscreen_rtitle.jpg") no-repeat 0 0 scroll;						
		}
		.facscreen-rtext{
			@extend %facscreen-text;
			background : transparent url("../img/content/facscreen_rtext_bg.jpg") no-repeat 0 0 scroll;					
		}
	}	
}

.facscreen-top  img{
	width: 100%;
    height: 430px;
}



/*----- price-page ----*/
.price-table{
	width: 100%;				
	border-collapse: collapse;	
	border-spacing: 0;	
	tr:first-child{
		th{
			border: 1px solid #E3E3E3;						
			background-color: #F9F9F9;
			text-align: center;									
			padding: 9px 0;
			font:{
				size: 14px;
				weight: bold;
			}
		}	
		th:first-child{
			width: 90px;
			padding: 9px 0 9px 20px;
			text-align: left;
		}
	}
	tr{
		th{
			border: 1px solid #E3E3E3;
			background-color: #F9F9F9;	
			padding: 14px 0;
			text-align: center;					
			font:{
				size: 14px;
				weight: bold;
			}
		}		
		th:first-child{
			width: 90px;
			padding: 9px 0 9px 20px;
			text-align: left;
		}
		td{
			border: 1px solid #E3E3E3;
			padding: 14px 24px;
			text-align: center;
		}
	}
}




/*----- blog-page ----*/
	.blog-subtitle{
		background: transparent url("../img/content/blog_subtitle.jpg") no-repeat 0 0 scroll;			
		line-height: 48px;
		margin-bottom: 25px;
		padding-left: 25px;
		color: $text_color;
		font:{
			size: 20px;
			weight: bold;			
		}
	}
	.post-row-content{	
		.blog-btnrm{
			float: right;		
			padding: 3px 8px;
			@include border_radius(5px);
			background-color: $main_color;
			a{
				color: $sub_color2;
			}
			a:hover{
				opacity: 0.5;
			}
		}
		.post-row-meta{
			.fa{
				padding: 0 5px 0 20px;
			}
			.fa:first-child{
				padding-right: 5px;
				padding-left: 0;
			}
		}
		.blog-content, .post-row-description{margin-top: 10px;}		
	}	
	
	.navigation{
		margin-top: 20px;
		margin-bottom: 150px;
		a{color: $main_color;}
		a:hover{
			text-decoration: underline;
		}
	}
	
	.wp-pagenavi{
		margin-top: 40px;	
		margin-bottom: 150px;
		text-align: center;
		.pages{
			background-color: $main_color;
			color: #fff;		
		}
		.previouspostslink{
			@extend .pages;
		}
		.page{
			@extend .pages;
		}
		.nextpostslink{
			@extend .pages;
		}	
		span.current {
			border-color: $main_color !important;
		}
	}
	#category{margin-bottom: 150px;}
}