@charset "UTF-8";
/* CSS Document */
/*size*/
/* color - check file "Setting sheet.xlsx" for detail settings */
/* base css */
/* line 38, ../scss/_vars.scss */
.pt5, .pv5,
.pa5 {
  padding-top: 5px; }

/* line 39, ../scss/_vars.scss */
.pr5, .ph5,
.pa5 {
  padding-right: 5px; }

/* line 40, ../scss/_vars.scss */
.pb5, .pv5,
.pa5 {
  padding-bottom: 5px; }

/* line 41, ../scss/_vars.scss */
.pl5, .ph5,
.pa5 {
  padding-left: 5px; }

/* line 38, ../scss/_vars.scss */
.mt5, .mv5,
.ma5 {
  margin-top: 5px; }

/* line 39, ../scss/_vars.scss */
.mr5, .mh5,
.ma5 {
  margin-right: 5px; }

/* line 40, ../scss/_vars.scss */
.mb5, .mv5,
.ma5 {
  margin-bottom: 5px; }

/* line 41, ../scss/_vars.scss */
.ml5, .mh5,
.ma5 {
  margin-left: 5px; }

/* line 38, ../scss/_vars.scss */
.pt10, .pv10,
.pa10 {
  padding-top: 10px; }

/* line 39, ../scss/_vars.scss */
.pr10, .ph10,
.pa10 {
  padding-right: 10px; }

/* line 40, ../scss/_vars.scss */
.pb10, .pv10,
.pa10 {
  padding-bottom: 10px; }

/* line 41, ../scss/_vars.scss */
.pl10, .ph10,
.pa10 {
  padding-left: 10px; }

/* line 38, ../scss/_vars.scss */
.mt10, .mv10,
.ma10 {
  margin-top: 10px; }

/* line 39, ../scss/_vars.scss */
.mr10, .mh10,
.ma10 {
  margin-right: 10px; }

/* line 40, ../scss/_vars.scss */
.mb10, .mv10,
.ma10 {
  margin-bottom: 10px; }

/* line 41, ../scss/_vars.scss */
.ml10, .mh10,
.ma10 {
  margin-left: 10px; }

/* line 38, ../scss/_vars.scss */
.pt15, .pv15,
.pa15 {
  padding-top: 15px; }

/* line 39, ../scss/_vars.scss */
.pr15, .ph15,
.pa15 {
  padding-right: 15px; }

/* line 40, ../scss/_vars.scss */
.pb15, .pv15,
.pa15 {
  padding-bottom: 15px; }

/* line 41, ../scss/_vars.scss */
.pl15, .ph15,
.pa15 {
  padding-left: 15px; }

/* line 38, ../scss/_vars.scss */
.mt15, .mv15,
.ma15 {
  margin-top: 15px; }

/* line 39, ../scss/_vars.scss */
.mr15, .mh15,
.ma15 {
  margin-right: 15px; }

/* line 40, ../scss/_vars.scss */
.mb15, .mv15,
.ma15 {
  margin-bottom: 15px; }

/* line 41, ../scss/_vars.scss */
.ml15, .mh15,
.ma15 {
  margin-left: 15px; }

/* line 38, ../scss/_vars.scss */
.pt20, .pv20,
.pa20 {
  padding-top: 20px; }

/* line 39, ../scss/_vars.scss */
.pr20, .ph20,
.pa20 {
  padding-right: 20px; }

/* line 40, ../scss/_vars.scss */
.pb20, .pv20,
.pa20 {
  padding-bottom: 20px; }

/* line 41, ../scss/_vars.scss */
.pl20, .ph20,
.pa20 {
  padding-left: 20px; }

/* line 38, ../scss/_vars.scss */
.mt20, .mv20,
.ma20 {
  margin-top: 20px; }

/* line 39, ../scss/_vars.scss */
.mr20, .mh20,
.ma20 {
  margin-right: 20px; }

/* line 40, ../scss/_vars.scss */
.mb20, .mv20,
.ma20 {
  margin-bottom: 20px; }

/* line 41, ../scss/_vars.scss */
.ml20, .mh20,
.ma20 {
  margin-left: 20px; }

/* line 38, ../scss/_vars.scss */
.pt25, .pv25,
.pa25 {
  padding-top: 25px; }

/* line 39, ../scss/_vars.scss */
.pr25, .ph25,
.pa25 {
  padding-right: 25px; }

/* line 40, ../scss/_vars.scss */
.pb25, .pv25,
.pa25 {
  padding-bottom: 25px; }

/* line 41, ../scss/_vars.scss */
.pl25, .ph25,
.pa25 {
  padding-left: 25px; }

/* line 38, ../scss/_vars.scss */
.mt25, .mv25,
.ma25 {
  margin-top: 25px; }

/* line 39, ../scss/_vars.scss */
.mr25, .mh25,
.ma25 {
  margin-right: 25px; }

/* line 40, ../scss/_vars.scss */
.mb25, .mv25,
.ma25 {
  margin-bottom: 25px; }

/* line 41, ../scss/_vars.scss */
.ml25, .mh25,
.ma25 {
  margin-left: 25px; }

/* line 38, ../scss/_vars.scss */
.pt30, .pv30,
.pa30 {
  padding-top: 30px; }

/* line 39, ../scss/_vars.scss */
.pr30, .ph30,
.pa30 {
  padding-right: 30px; }

/* line 40, ../scss/_vars.scss */
.pb30, .pv30,
.pa30 {
  padding-bottom: 30px; }

/* line 41, ../scss/_vars.scss */
.pl30, .ph30,
.pa30 {
  padding-left: 30px; }

/* line 38, ../scss/_vars.scss */
.mt30, .mv30,
.ma30 {
  margin-top: 30px; }

/* line 39, ../scss/_vars.scss */
.mr30, .mh30,
.ma30 {
  margin-right: 30px; }

/* line 40, ../scss/_vars.scss */
.mb30, .mv30,
.ma30 {
  margin-bottom: 30px; }

/* line 41, ../scss/_vars.scss */
.ml30, .mh30,
.ma30 {
  margin-left: 30px; }

/* line 38, ../scss/_vars.scss */
.pt40, .pv40,
.pa40 {
  padding-top: 40px; }

/* line 39, ../scss/_vars.scss */
.pr40, .ph40,
.pa40 {
  padding-right: 40px; }

/* line 40, ../scss/_vars.scss */
.pb40, .pv40,
.pa40 {
  padding-bottom: 40px; }

/* line 41, ../scss/_vars.scss */
.pl40, .ph40,
.pa40 {
  padding-left: 40px; }

/* line 38, ../scss/_vars.scss */
.mt40, .mv40,
.ma40 {
  margin-top: 40px; }

/* line 39, ../scss/_vars.scss */
.mr40, .mh40,
.ma40 {
  margin-right: 40px; }

/* line 40, ../scss/_vars.scss */
.mb40, .mv40,
.ma40 {
  margin-bottom: 40px; }

/* line 41, ../scss/_vars.scss */
.ml40, .mh40,
.ma40 {
  margin-left: 40px; }

/* line 38, ../scss/_vars.scss */
.pt50, .pv50,
.pa50 {
  padding-top: 50px; }

/* line 39, ../scss/_vars.scss */
.pr50, .ph50,
.pa50 {
  padding-right: 50px; }

/* line 40, ../scss/_vars.scss */
.pb50, .pv50,
.pa50 {
  padding-bottom: 50px; }

/* line 41, ../scss/_vars.scss */
.pl50, .ph50,
.pa50 {
  padding-left: 50px; }

/* line 38, ../scss/_vars.scss */
.mt50, .mv50,
.ma50 {
  margin-top: 50px; }

/* line 39, ../scss/_vars.scss */
.mr50, .mh50,
.ma50 {
  margin-right: 50px; }

/* line 40, ../scss/_vars.scss */
.mb50, .mv50,
.ma50 {
  margin-bottom: 50px; }

/* line 41, ../scss/_vars.scss */
.ml50, .mh50,
.ma50 {
  margin-left: 50px; }

/*===== link ======*/
/* line 14, ../scss/_base.scss */
a {
  color: #009f8f;
  text-decoration: none; }
  /* line 18, ../scss/_vars.scss */
  a:hover, a:active, a:focus {
    color: #06ffe6; }

/* line 19, ../scss/_base.scss */
a:link {
  color: #ff7300; }

/* line 22, ../scss/_base.scss */
a:visited {
  color: #ff7300; }

/* line 25, ../scss/_base.scss */
a:hover {
  color: #0a9d8b; }

/* line 28, ../scss/_base.scss */
a.img_bg_white {
  display: inline-block;
  background-color: #fff; }

/* line 32, ../scss/_base.scss */
a.img_bg_white img {
  opacity: 0.7;
  filter: alpha(opacity=70); }

/*======== clear css========*/
/* line 39, ../scss/_base.scss */
.clear {
  clear: both; }

/* clearfix css */
/* line 44, ../scss/_base.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

/* line 51, ../scss/_base.scss */
.clearfix {
  min-height: 1px; }

/* line 54, ../scss/_base.scss */
* html .clearfix {
  height: 1px;
  /*¥*/
                  /*/
height: auto;
overflow: hidden; /**/ }

/* common css */
/* line 5, ../scss/_common.scss */
body {
  font-size: 14px;
  line-height: 1.5em;
  color: #444444;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: white none no-repeat 0 0 scroll;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* reset */
/* line 18, ../scss/_common.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

/* line 22, ../scss/_common.scss */
.container {
  width: 1090px; }

/* line 26, ../scss/_common.scss */
p {
  margin: 0px; }

/* line 28, ../scss/_common.scss */
a:hover {
  text-decoration: none; }

/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/
/* line 37, ../scss/_common.scss */
#wrapper {
  min-width: 1090px;
  overflow: hidden; }

/* line 42, ../scss/_common.scss */
#wrapper img {
  max-width: 100%; }

/* line 46, ../scss/_common.scss */
.contain {
  max-width: 1060px;
  margin: 0px auto; }

/* line 52, ../scss/_common.scss */
.primary .primary-row {
  margin-top: 40px; }
  /* line 54, ../scss/_common.scss */
  .primary .primary-row .primary-row {
    margin-top: 20px; }
  /* line 57, ../scss/_common.scss */
  .primary .primary-row .primary-row:first-child {
    margin-top: 0px; }
/* line 61, ../scss/_common.scss */
.primary .primary-row:first-child {
  margin-top: 0px; }

/* line 67, ../scss/_common.scss */
.sidebar .sidebar-row {
  margin-top: 40px; }
/* line 70, ../scss/_common.scss */
.sidebar .sidebar-row:first-child {
  margin-top: 0px; }

/* line 76, ../scss/_common.scss */
.two-cols-left .primary {
  width: 750px;
  float: left;
  margin-left: 310px; }
/* line 81, ../scss/_common.scss */
.two-cols-left .sidebar {
  width: 280px;
  float: left;
  margin-left: -1060px; }

/* line 89, ../scss/_common.scss */
.two-cols-right .primary {
  float: left;
  width: 750px;
  margin-right: 30px; }
/* line 94, ../scss/_common.scss */
.two-cols-right .sidebar {
  float: left;
  width: 280px; }

/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
/* line 104, ../scss/_common.scss */
.ln2em {
  line-height: 2em; }

/* line 105, ../scss/_common.scss */
.ln18em {
  line-height: 1.8em; }

/* line 106, ../scss/_common.scss */
.ln15em {
  line-height: 1.5em; }

/* line 108, ../scss/_common.scss */
img {
  border: 0;
  height: auto;
  vertical-align: middle; }

/* LAYOUT TOP */
/* line 116, ../scss/_common.scss */
#top {
  background: white url("../img/common/header_top_bg.jpg") no-repeat center center scroll;
  height: 36px; }
  /* line 119, ../scss/_common.scss */
  #top .top-text {
    float: left;
    line-height: 30px;
    font-size: 11px; }
  /* line 124, ../scss/_common.scss */
  #top .top-navi {
    line-height: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    float: right; }
    /* line 130, ../scss/_common.scss */
    #top .top-navi li {
      display: inline-block;
      padding: 0px 10px; }
      /* line 133, ../scss/_common.scss */
      #top .top-navi li a {
        color: #444444;
        font-size: 11px; }
        /* line 136, ../scss/_common.scss */
        #top .top-navi li a .fa-arrow-right {
          padding-right: 5px;
          color: #009F8F; }
        /* line 140, ../scss/_common.scss */
        #top .top-navi li a:hover {
          color: #0a9d8b; }
      /* line 144, ../scss/_common.scss */
      #top .top-navi li a.top-navi-current {
        color: #0a9d8b; }
    /* line 149, ../scss/_common.scss */
    #top .top-navi li:last-child {
      padding: 0 0 0 10px; }

/* line 156, ../scss/_common.scss */
header {
  background: white url("../img/common/header_bg.jpg") no-repeat center center scroll;
  height: 92px; }
  /* line 159, ../scss/_common.scss */
  header .header-content {
    padding-top: 30px; }
    /* line 161, ../scss/_common.scss */
    header .header-content .logo {
      float: left; }
    /* line 164, ../scss/_common.scss */
    header .header-content .header-tel {
      padding-left: 155px;
      float: left; }
    /* line 168, ../scss/_common.scss */
    header .header-content .header-con {
      padding-left: 45px;
      float: left; }

/* line 175, ../scss/_common.scss */
nav {
  background: white url("../img/common/header_navi_bg.jpg") no-repeat center center scroll;
  height: 107px; }
  /* line 178, ../scss/_common.scss */
  nav .navi-list {
    list-style: none;
    padding: 0;
    margin: 0; }
    /* line 182, ../scss/_common.scss */
    nav .navi-list li {
      float: left;
      width: 177px;
      text-align: center; }
      /* line 186, ../scss/_common.scss */
      nav .navi-list li a {
        padding-top: 55px;
        display: block; }
        /* line 189, ../scss/_common.scss */
        nav .navi-list li a span {
          display: block;
          text-align: center; }
        /* line 193, ../scss/_common.scss */
        nav .navi-list li a span.first-text {
          color: #444444;
          font-family: Meiryo;
          font-size: 16px;
          font-weight: bold; }
        /* line 201, ../scss/_common.scss */
        nav .navi-list li a span.second-text {
          color: #cccccc;
          font-size: 10px;
          font-family: 'Myriad Pro';
          word-wrap: break-word;
          text-transform: uppercase; }
        /* line 208, ../scss/_common.scss */
        nav .navi-list li a .links-current {
          color: #0a9d8b; }
    /* line 213, ../scss/_common.scss */
    nav .navi-list li a:hover span {
      color: #0a9d8b; }
    /* line 217, ../scss/_common.scss */
    nav .navi-list li:last-child {
      width: 175px; }

/* line 221, ../scss/_common.scss */
#banner {
  background: white url("../img/top/banner_img.jpg") no-repeat center center scroll;
  height: 636px; }

/* line 226, ../scss/_common.scss */
#top-main {
  padding: 0 10px;
  margin-top: 60px; }
  /* line 229, ../scss/_common.scss */
  #top-main .top-title {
    background: transparent url("../img/top/top_title.jpg") no-repeat 0 0 scroll;
    height: 59px;
    margin-bottom: 25px;
    line-height: 59px;
    padding-left: 25px;
    color: white;
    font-size: 24px;
    font-weight: bold; }
    /* line 240, ../scss/_common.scss */
    #top-main .top-title span {
      color: #FFFF00;
      font-size: 32px;
      font-weight: bold; }

/* top-main-group */
/* line 253, ../scss/_common.scss */
.top-main-group .top-main-row {
  margin-top: 25px; }
  /* line 255, ../scss/_common.scss */
  .top-main-group .top-main-row .top-main-col {
    float: left; }
/* line 259, ../scss/_common.scss */
.top-main-group .top-main-row:first-child {
  margin-top: 0; }

/* line 263, ../scss/_common.scss */
.top-main-group.top-main-col230 {
  padding: 0 10px; }
  /* line 265, ../scss/_common.scss */
  .top-main-group.top-main-col230 .top-main-col {
    width: 230px;
    margin-left: 40px; }
    /* line 269, ../scss/_common.scss */
    .top-main-group.top-main-col230 .top-main-col a .title {
      background: transparent url("../img/top/top_main_title.jpg") no-repeat 0 0 scroll;
      height: 43px;
      color: white;
      text-align: center;
      line-height: 43px;
      font-size: 18px;
      font-weight: bold; }
    /* line 280, ../scss/_common.scss */
    .top-main-group.top-main-col230 .top-main-col a .text {
      border: 3px solid #E3E3E3;
      padding: 10px;
      height: 115px;
      color: #444444; }
    /* line 287, ../scss/_common.scss */
    .top-main-group.top-main-col230 .top-main-col:hover {
      opacity: 0.7; }
  /* line 289, ../scss/_common.scss */
  .top-main-group.top-main-col230 .top-main-col:first-child {
    margin-left: 0; }

/*-- breadcrumb --*/
/* line 295, ../scss/_common.scss */
#top-breadcrumb {
  background: transparent url("../img/common/breadcrumb_bg.jpg") repeat-x 0 0 scroll;
  line-height: 37px;
  color: #444444;
  font-size: 11px; }
  /* line 300, ../scss/_common.scss */
  #top-breadcrumb .home {
    color: #444444; }
  /* line 303, ../scss/_common.scss */
  #top-breadcrumb a {
    color: #0a9d8b; }
  /* line 304, ../scss/_common.scss */
  #top-breadcrumb a:hover {
    color: #0a9d8b; }

/*======= content =====*/
/* line 311, ../scss/_common.scss */
#content {
  padding: 60px 0px;
  /* message */
  /* message-group */
  /* heading */
  /* sideMenu.css */
  /* end sideMenu */
  /* sideNav.css */
  /* end sideNav */ }
  /* line 316, ../scss/_common.scss */
  #content .message-left .image {
    float: left; }
  /* line 319, ../scss/_common.scss */
  #content .message-left .text {
    margin-left: 20px;
    float: left; }
  /* line 326, ../scss/_common.scss */
  #content .message-right .image {
    float: right; }
  /* line 329, ../scss/_common.scss */
  #content .message-right .text {
    float: left;
    margin-right: 20px; }
  /* line 336, ../scss/_common.scss */
  #content .message-230 .image {
    width: 230px; }
  /* line 337, ../scss/_common.scss */
  #content .message-230 .text {
    width: 490px; }
  /* line 341, ../scss/_common.scss */
  #content .message-280 .image {
    width: 280px; }
  /* line 342, ../scss/_common.scss */
  #content .message-280 .text {
    width: 450px; }
  /* line 346, ../scss/_common.scss */
  #content .message-308 .image {
    width: 308px; }
  /* line 347, ../scss/_common.scss */
  #content .message-308 .text {
    width: 422px; }
  /* line 352, ../scss/_common.scss */
  #content .message-group .message-row {
    margin-top: 20px; }
    /* line 354, ../scss/_common.scss */
    #content .message-group .message-row .message-col {
      float: left; }
  /* line 358, ../scss/_common.scss */
  #content .message-group .message-row:first-child {
    margin-top: 0; }
  /* line 363, ../scss/_common.scss */
  #content .message-group.message-col230 .message-col {
    width: 230px;
    margin-left: 30px; }
    /* line 366, ../scss/_common.scss */
    #content .message-group.message-col230 .message-col .point {
      padding: 12px 0; }
    /* line 369, ../scss/_common.scss */
    #content .message-group.message-col230 .message-col .title {
      color: #009F8E;
      font-size: 26px;
      font-weight: bold; }
    /* line 376, ../scss/_common.scss */
    #content .message-group.message-col230 .message-col .text {
      padding-top: 15px; }
  /* line 378, ../scss/_common.scss */
  #content .message-group.message-col230 .message-col:first-child {
    margin-left: 0; }
  /* line 384, ../scss/_common.scss */
  #content .message-group.message-col240 .message-col {
    width: 240px;
    margin-left: 20px; }
  /* line 388, ../scss/_common.scss */
  #content .message-group.message-col240 .message-col:first-child {
    margin-left: 0; }
  /* line 394, ../scss/_common.scss */
  #content .message-group.message-col171 .message-col {
    width: 171px;
    margin-left: 20px; }
  /* line 398, ../scss/_common.scss */
  #content .message-group.message-col171 .message-col:first-child {
    margin-left: 0; }
  /* line 404, ../scss/_common.scss */
  #content .message-group.message-col370 .message-col {
    width: 370px;
    margin-left: 20px; }
  /* line 408, ../scss/_common.scss */
  #content .message-group.message-col370 .message-col:first-child {
    margin-left: 0; }
  /* line 414, ../scss/_common.scss */
  #content .message-classic .message-col {
    padding: 10px;
    box-shadow: 0 0 4px 4px #e9e9e9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    /* line 420, ../scss/_common.scss */
    #content .message-classic .message-col .title {
      color: #009f8f;
      font-size: 16px;
      line-height: 30px; }
    /* line 426, ../scss/_common.scss */
    #content .message-classic .message-col .image img {
      max-width: 100%;
      height: auto; }
    /* line 431, ../scss/_common.scss */
    #content .message-classic .message-col .text {
      margin-top: 7px;
      line-height: 1.5em; }
  /* line 439, ../scss/_common.scss */
  #content .h2-title, #content .h3-title, #content .about-title {
    background: transparent url("../img/common/h2_title.jpg") no-repeat 0 0 scroll;
    line-height: 59px;
    margin-bottom: 25px;
    padding-left: 25px;
    color: white;
    font-size: 24px;
    font-weight: bold; }
    /* line 449, ../scss/_common.scss */
    #content .h2-title .h2title-clr, #content .h3-title .h2title-clr, #content .about-title .h2title-clr {
      color: #0a9d8b; }
    /* line 452, ../scss/_common.scss */
    #content .h2-title .h2title-number, #content .h3-title .h2title-number, #content .about-title .h2title-number {
      color: #0a9d8b;
      font-size: 36px;
      font-weight: bold; }
  /* line 461, ../scss/_common.scss */
  #content .about-title {
    font-size: 22px; }
  /* line 466, ../scss/_common.scss */
  #content .h3_title {
    margin-bottom: 15px; }
  /* line 470, ../scss/_common.scss */
  #content .subpages-title {
    position: relative;
    margin-bottom: 25px; }
    /* line 473, ../scss/_common.scss */
    #content .subpages-title span {
      position: absolute;
      top: 45px;
      left: 45px;
      font-size: 32px;
      font-weight: bold; }
  /* line 483, ../scss/_common.scss */
  #content .side-title {
    background: transparent url("../img/common/side_title.jpg") no-repeat 0 0 scroll;
    line-height: 53px;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold; }
  /* line 495, ../scss/_common.scss */
  #content .sideMenu {
    background: transparent url("../img/common/side_menu_bg.jpg") no-repeat 0 0 scroll;
    height: 432px;
    margin: 0px;
    padding: 0px;
    list-style: none; }
  /* line 502, ../scss/_common.scss */
  #content .sideMenu li a {
    display: block;
    line-height: 54px;
    padding-left: 75px;
    color: #444444;
    font-size: 16px;
    font-weight: bold; }
  /* line 512, ../scss/_common.scss */
  #content .sideMenu li a.sideMenu-current {
    color: #0a9d8b; }
  /* line 513, ../scss/_common.scss */
  #content .sideMenu li a:hover {
    color: #0a9d8b; }
  /* line 517, ../scss/_common.scss */
  #content .sideNav {
    border: 3px solid #e3e3e3;
    margin: 0px;
    padding: 0px;
    list-style: none; }
  /* line 523, ../scss/_common.scss */
  #content .sideNav li {
    border-bottom: 1px dotted #e3e3e3; }
  /* line 526, ../scss/_common.scss */
  #content .sideNav li:last-child {
    border-bottom: none; }
  /* line 527, ../scss/_common.scss */
  #content .sideNav li a {
    padding-left: 30px;
    display: block;
    line-height: 50px;
    position: relative;
    color: #444444;
    font-size: 16px;
    font-weight: bold; }
    /* line 537, ../scss/_common.scss */
    #content .sideNav li a i.fa {
      position: absolute;
      color: #E1342A;
      font-size: 16px;
      right: 20px;
      top: 0;
      line-height: 52px; }
  /* line 546, ../scss/_common.scss */
  #content .sideNav li a.sideNav-current {
    color: #0a9d8b; }
  /* line 547, ../scss/_common.scss */
  #content .sideNav li a:hover {
    color: #0a9d8b; }

/* line 556, ../scss/_common.scss */
footer #footer-info1 {
  background: transparent url("../img/common/footer_info_bg.jpg") repeat-x 0 0 scroll;
  line-height: 32px;
  font-size: 11px; }
/* line 562, ../scss/_common.scss */
footer #footer-info2 {
  background: transparent url("../img/common/footer_info_bg.jpg") repeat-x 0 0 scroll;
  height: 127px; }
  /* line 565, ../scss/_common.scss */
  footer #footer-info2 .footer-logo {
    padding: 34px 0;
    float: left; }
  /* line 569, ../scss/_common.scss */
  footer #footer-info2 .footer-tel {
    padding: 32px 0 32px 165px;
    padding-left: 155px;
    float: left; }
  /* line 574, ../scss/_common.scss */
  footer #footer-info2 .footer-con {
    padding: 34px 0 34px 50px;
    float: left; }
/* line 579, ../scss/_common.scss */
footer #footer-info3 {
  background-color: #009F8F; }
  /* line 581, ../scss/_common.scss */
  footer #footer-info3 .footer-contact {
    float: left;
    list-style: none;
    margin: 0;
    padding: 30px 0 40px;
    margin-right: 60px; }
    /* line 587, ../scss/_common.scss */
    footer #footer-info3 .footer-contact li {
      line-height: 40px;
      border-bottom: 1px solid #009080;
      color: white;
      font-size: 12px;
      font-weight: bold; }
    /* line 596, ../scss/_common.scss */
    footer #footer-info3 .footer-contact li:last-child {
      border-bottom: none; }
  /* line 598, ../scss/_common.scss */
  footer #footer-info3 .footer-col {
    float: left;
    list-style: none;
    padding: 0;
    width: 165px;
    border-left: 1px solid #009080;
    padding-left: 20px;
    margin: 60px 0; }
    /* line 606, ../scss/_common.scss */
    footer #footer-info3 .footer-col li a {
      color: white;
      line-height: 2em;
      font-size: 12px;
      font-weight: bold; }
      /* line 613, ../scss/_common.scss */
      footer #footer-info3 .footer-col li a .fa-arrow-right {
        padding-right: 5px; }
      /* line 616, ../scss/_common.scss */
      footer #footer-info3 .footer-col li a:hover {
        color: #FFFF00; }
    /* line 620, ../scss/_common.scss */
    footer #footer-info3 .footer-col li a.footernavi-current {
      color: #FFFF00; }
  /* line 624, ../scss/_common.scss */
  footer #footer-info3 .footer-col:first-child {
    margin-left: 60px; }
/* line 628, ../scss/_common.scss */
footer #footer-copyright {
  border-top: 1px solid #007969;
  background-color: #00887A;
  line-height: 70px;
  text-align: center;
  color: white;
  fon-size: 12px;
  fon-weight: bold; }

/* part */
/* line 9, ../scss/layout.scss */
.sideBlog {
  margin-top: 10px; }
  /* line 11, ../scss/layout.scss */
  .sideBlog .sideBlog-title {
    font-size: 16px;
    line-height: 30px;
    color: #009f8f;
    border-bottom: 2px solid #009f8f;
    margin-bottom: 10px; }
  /* line 18, ../scss/layout.scss */
  .sideBlog ul {
    padding: 0px;
    margin: 0 0 0 15px;
    list-style: none; }
    /* line 23, ../scss/layout.scss */
    .sideBlog ul li a {
      color: #444444; }
      /* line 25, ../scss/layout.scss */
      .sideBlog ul li a:hover {
        color: #0a9d8b; }

/* line 30, ../scss/layout.scss */
.sideBlog:first-child {
  margin-top: 0; }

/* page content */
/* line 34, ../scss/layout.scss */
#content {
  /* top */
  /*.top-content-intro*/
  /*.top-content-work*/
  /*----- sack-page ----*/
  /*-----faq-page----*/
  /*----- draft-page ----*/
  /* wpcf7 */
  /*----- estimate-page ----*/
  /*.shape-group */
  /* .material-group*/
  /*.surface-group */
  /*------ about page -----*/
  /*----- privacy-page ----*/
  /*----- work-page ----*/
  /*----- company-page ----*/
  /*----- factory-page ----*/
  /*----- price-page ----*/
  /*----- blog-page ----*/ }
  /* line 37, ../scss/layout.scss */
  #content .top-box-botttom {
    margin-top: 25px; }
  /* line 38, ../scss/layout.scss */
  #content .top-content-intro {
    background: transparent url("../img/top/top_content_intro.jpg") no-repeat 0 0 scroll;
    position: relative;
    height: 271px; }
    /* line 42, ../scss/layout.scss */
    #content .top-content-intro .top-conintro-title {
      position: absolute;
      top: 10px;
      left: 150px;
      right: 175px;
      line-height: 1.2em;
      color: #E0332A;
      font-size: 30px;
      font-weight: bold; }
    /* line 54, ../scss/layout.scss */
    #content .top-content-intro .top-conintro-text {
      position: absolute;
      top: 90px;
      left: 150px;
      right: 160px;
      line-height: 1.2em;
      font-size: 14px;
      font-weight: bold; }
    /* line 65, ../scss/layout.scss */
    #content .top-content-intro .top-conintro-list {
      position: absolute;
      bottom: 35px;
      left: 33px;
      width: 490px;
      margin: 0;
      padding: 0;
      list-style: none; }
      /* line 73, ../scss/layout.scss */
      #content .top-content-intro .top-conintro-list li {
        float: left;
        width: 240px;
        line-height: 40px;
        margin-bottom: 10px;
        margin-left: 10px;
        text-align: center;
        color: white;
        font-size: 16px;
        font-weight: bold; }
      /* line 86, ../scss/layout.scss */
      #content .top-content-intro .top-conintro-list li:nth-child(1), #content .top-content-intro .top-conintro-list li:nth-child(3) {
        margin-left: 0; }
      /* line 87, ../scss/layout.scss */
      #content .top-content-intro .top-conintro-list li:nth-child(3), #content .top-content-intro .top-conintro-list li:nth-child(4) {
        margin-bottom: 0; }
    /* line 89, ../scss/layout.scss */
    #content .top-content-intro .top-conintro-btn {
      position: absolute;
      bottom: 35px;
      right: 33px; }
    /* line 94, ../scss/layout.scss */
    #content .top-content-intro .top-conintro-btn a:hover {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
  /* line 100, ../scss/layout.scss */
  #content .top-content-work {
    background: transparent url("../img/top/top_content_work.jpg") no-repeat 0 0 scroll;
    position: relative;
    height: 291px; }
    /* line 104, ../scss/layout.scss */
    #content .top-content-work .top-conwork-title {
      position: absolute;
      top: 55px;
      left: 50px;
      width: 370px;
      line-height: 1.2em;
      color: white;
      font-size: 24px;
      font-weight: bold; }
    /* line 116, ../scss/layout.scss */
    #content .top-content-work .top-conwork-text {
      position: absolute;
      top: 135px;
      left: 50px;
      width: 370px;
      line-height: 1.3em;
      font-size: 14px;
      font-weight: bold; }
    /* line 127, ../scss/layout.scss */
    #content .top-content-work .top-conwork-btn {
      position: absolute;
      bottom: 32px;
      left: 34px; }
    /* line 132, ../scss/layout.scss */
    #content .top-content-work .top-conwork-btn a:hover {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
  /* line 137, ../scss/layout.scss */
  #content .topflow-top-title {
    background: transparent url("../img/top/topflow_title.jpg") no-repeat 0 0 scroll;
    line-height: 53px;
    margin-bottom: 25px;
    text-align: center;
    color: #444444;
    font-size: 22px;
    font-weight: bold; }
  /* line 149, ../scss/layout.scss */
  #content .topflow-list1, #content .topflow-list2 {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative; }
    /* line 154, ../scss/layout.scss */
    #content .topflow-list1 li, #content .topflow-list2 li {
      float: left;
      width: 230px;
      margin-left: 30px;
      text-align: center; }
      /* line 160, ../scss/layout.scss */
      #content .topflow-list1 li a .topflow-step, #content .topflow-list2 li a .topflow-step {
        background: transparent url("../img/top/topflow_step.jpg") no-repeat 0 0 scroll;
        line-height: 43px;
        text-transform: uppercase;
        color: white;
        font-size: 22px; }
      /* line 167, ../scss/layout.scss */
      #content .topflow-list1 li a .topflow-info, #content .topflow-list2 li a .topflow-info {
        border: 3px solid #E3E3E3;
        border-top: none; }
        /* line 170, ../scss/layout.scss */
        #content .topflow-list1 li a .topflow-info .topflow-img, #content .topflow-list2 li a .topflow-info .topflow-img {
          padding: 15px 0; }
        /* line 171, ../scss/layout.scss */
        #content .topflow-list1 li a .topflow-info .topflow-title, #content .topflow-list2 li a .topflow-info .topflow-title {
          padding-bottom: 15px;
          color: #444444;
          font-size: 23px;
          font-weight: bold; }
        /* line 179, ../scss/layout.scss */
        #content .topflow-list1 li a .topflow-info .topflow-text, #content .topflow-list2 li a .topflow-info .topflow-text {
          padding: 0 20px 20px 20px;
          color: #444444;
          height: 105px; }
      /* line 186, ../scss/layout.scss */
      #content .topflow-list1 li:hover, #content .topflow-list2 li:hover {
        opacity: 0.7; }
    /* line 188, ../scss/layout.scss */
    #content .topflow-list1 li:first-child, #content .topflow-list2 li:first-child {
      margin-left: 0; }
    /* line 189, ../scss/layout.scss */
    #content .topflow-list1 .topflow-farrow, #content .topflow-list1 .topflow-tarrow, #content .topflow-list2 .topflow-farrow, #content .topflow-list2 .topflow-tarrow {
      position: absolute;
      left: 230px;
      top: 145px; }
    /* line 194, ../scss/layout.scss */
    #content .topflow-list1 .topflow-sarrow, #content .topflow-list2 .topflow-sarrow {
      position: absolute;
      right: 230px;
      top: 145px; }
    /* line 199, ../scss/layout.scss */
    #content .topflow-list1 .topflow-earrow, #content .topflow-list2 .topflow-earrow {
      position: absolute;
      right: 230px;
      top: 135px; }
  /* line 205, ../scss/layout.scss */
  #content .topflow-line {
    text-align: center; }
  /* line 210, ../scss/layout.scss */
  #content .sack-top-left {
    float: left;
    width: 315px;
    height: 185px; }
  /* line 216, ../scss/layout.scss */
  #content .sack-top-right {
    float: left;
    margin-left: 20px;
    width: 415px; }
  /* line 222, ../scss/layout.scss */
  #content #mainalbum {
    float: left;
    width: 230px; }
  /* line 226, ../scss/layout.scss */
  #content #mainalbum img {
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s; }
  /* line 233, ../scss/layout.scss */
  #content #mainalbum img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5); }
  /* line 241, ../scss/layout.scss */
  #content #mainalbum span {
    display: block;
    overflow: hidden; }
  /* line 246, ../scss/layout.scss */
  #content #subalbum {
    float: left;
    margin-left: 10px; }
  /* line 250, ../scss/layout.scss */
  #content #subalbum .thumb {
    cursor: pointer;
    margin-bottom: 10px;
    width: 68px;
    height: 55px; }
  /* line 256, ../scss/layout.scss */
  #content #subalbum p:last-child .thumb {
    margin-bottom: 0; }
  /* line 260, ../scss/layout.scss */
  #content .sack-tabs a, #content .factory-tabs a {
    width: 248px;
    float: left;
    display: block;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 18px;
    font-weight: bold; }
    /* line 271, ../scss/layout.scss */
    #content .sack-tabs a .fa-arrow-down, #content .factory-tabs a .fa-arrow-down {
      margin-left: 15px; }
  /* line 273, ../scss/layout.scss */
  #content .sack-tabs a.guide, #content .factory-tabs a.guide {
    background-color: #1472D0;
    border: 1px solid #136CC6; }
  /* line 277, ../scss/layout.scss */
  #content .sack-tabs a.price, #content .factory-tabs a.price {
    background-color: #79CA31;
    border: 1px solid #6DB52D; }
  /* line 281, ../scss/layout.scss */
  #content .sack-tabs a.estimate, #content .factory-tabs a.estimate {
    background-color: #FD7352;
    border: 1px solid #FD5931; }
  /* line 285, ../scss/layout.scss */
  #content .sack-tabs a.guide:hover, #content .factory-tabs a.guide:hover, #content .sack-tabs a.price:hover, #content .factory-tabs a.price:hover, #content .sack-tabs a.estimate:hover, #content .factory-tabs a.estimate:hover {
    opacity: 0.7;
    filter: alpha(opacity=70); }
  /* line 289, ../scss/layout.scss */
  #content .sack-tabs a.guide.selected, #content .factory-tabs a.guide.selected {
    background-color: white;
    color: #1472D0; }
  /* line 293, ../scss/layout.scss */
  #content .sack-tabs a.price.selected, #content .factory-tabs a.price.selected {
    background-color: white;
    color: #79CA31; }
  /* line 297, ../scss/layout.scss */
  #content .sack-tabs a.estimate.selected, #content .factory-tabs a.estimate.selected {
    background-color: white;
    color: #FD7352; }
  /* line 303, ../scss/layout.scss */
  #content #sack-content-tab {
    margin-top: 30px; }
  /* line 304, ../scss/layout.scss */
  #content #sack-content-tab:first-child {
    margin-top: 0; }
  /* line 308, ../scss/layout.scss */
  #content .faq-content-question {
    background: transparent url("../img/content/faq_icon_question.png") no-repeat 0 0 scroll;
    height: 81px;
    padding: 18px 0 0 75px;
    font-size: 20px;
    font-weight: bold; }
  /* line 317, ../scss/layout.scss */
  #content .faq-content-answer {
    background: transparent url("../img/content/faq_answer_bg.jpg") repeat 0 0 scroll;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 22px 35px 22px 53px;
    margin-left: 20px;
    position: relative; }
    /* line 324, ../scss/layout.scss */
    #content .faq-content-answer .faq-icon-answer {
      position: absolute;
      top: -15px;
      left: -20px; }
  /* line 333, ../scss/layout.scss */
  #content .draft-content {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E3E3E3; }
    /* line 337, ../scss/layout.scss */
    #content .draft-content .fa-check-circle {
      float: left;
      color: #009F8E;
      font-size: 16px;
      padding-top: 5px; }
    /* line 343, ../scss/layout.scss */
    #content .draft-content .draft-info {
      float: left;
      margin-left: 5px;
      line-height: 1.8em; }
  /* line 349, ../scss/layout.scss */
  #content .draft-content:first-child {
    padding-top: 0; }
  /* line 351, ../scss/layout.scss */
  #content .draft-content-last {
    margin-top: 30px;
    border: 1px solid #E3E3E3;
    background-color: #F9F9F9;
    padding: 25px 34px; }
    /* line 356, ../scss/layout.scss */
    #content .draft-content-last .draft-info-first {
      line-height: 1.8em;
      margin-bottom: 25px; }
      /* line 359, ../scss/layout.scss */
      #content .draft-content-last .draft-info-first .draft-first-title {
        font-size: 16px;
        font-weight: bold; }
      /* line 365, ../scss/layout.scss */
      #content .draft-content-last .draft-info-first .draft-icon {
        font-size: 18px;
        padding-right: 2px; }
    /* line 371, ../scss/layout.scss */
    #content .draft-content-last .draft-info-last {
      padding-top: 25px;
      border-top: 1px solid #E3E3E3;
      line-height: 1.8em; }
      /* line 375, ../scss/layout.scss */
      #content .draft-content-last .draft-info-last .draft-last-title {
        font-size: 16px;
        font-weight: bold; }
  /* line 387, ../scss/layout.scss */
  #content .wpcf7 input, #content .wpcf7 select, #content .wpcf7 textarea {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    font-size: 15px;
    line-height: normal; }
  /* line 395, ../scss/layout.scss */
  #content .wpcf7 select {
    width: 250px;
    font-size: 14px;
    line-height: 1.5em; }
  /* line 400, ../scss/layout.scss */
  #content .wpcf7 .contact-btn {
    text-align: center;
    margin: 20px 0; }
  /* line 404, ../scss/layout.scss */
  #content .wpcf7 .wpcf7-confirm {
    background: transparent url("../img/content/confirm_btn.jpg") no-repeat 0 0 scroll;
    width: 310px;
    height: 54px;
    text-indent: -9999px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    border: none !important; }
  /* line 415, ../scss/layout.scss */
  #content .wpcf7 .wpcf7-submit, #content .wpcf7 .wpcf7-back {
    width: 310px;
    height: 54px;
    border: 1px solid #FD7713;
    background-color: #FD8A37;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold; }
  /* line 429, ../scss/layout.scss */
  #content .wpcf7 .wpcf7-confirm:hover {
    opacity: 0.7; }
  /* line 433, ../scss/layout.scss */
  #content .estimation-table1 {
    width: 100%;
    margin-bottom: 40px;
    border-collapse: separate;
    border: 4px solid #009F8F;
    border-spacing: 0; }
    /* line 440, ../scss/layout.scss */
    #content .estimation-table1 tr th {
      width: 30%;
      border-bottom: 1px solid #E3E3E3;
      text-align: left;
      background: #F9F9F9;
      padding: 10px 20px;
      vertical-align: middle; }
      /* line 447, ../scss/layout.scss */
      #content .estimation-table1 tr th .estimate-ttitle {
        float: left;
        width: 67%;
        color: #444444;
        font-size: 15px;
        font-weight: bold; }
      /* line 456, ../scss/layout.scss */
      #content .estimation-table1 tr th .require {
        float: right;
        width: 35px;
        line-height: 18px;
        text-align: center;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #FF5151;
        color: white;
        font-size: 11px;
        font-weight: bold; }
    /* line 470, ../scss/layout.scss */
    #content .estimation-table1 tr td {
      border-bottom: 1px solid #E3E3E3;
      padding: 10px 5px 10px 20px;
      vertical-align: middle; }
      /* line 474, ../scss/layout.scss */
      #content .estimation-table1 tr td .estimate-choose3 {
        list-style: none;
        margin: 0;
        padding: 0; }
    /* line 481, ../scss/layout.scss */
    #content .estimation-table1 tr:last-child th, #content .estimation-table1 tr:last-child td {
      border-bottom: none; }
  /* line 484, ../scss/layout.scss */
  #content .estimation-table2 {
    width: 100%;
    border-collapse: separate;
    border: 4px solid #E3E3E3;
    border-spacing: 0; }
    /* line 490, ../scss/layout.scss */
    #content .estimation-table2 tr th {
      width: 30%;
      border-bottom: 1px solid #E3E3E3;
      text-align: left;
      background: #F9F9F9;
      padding: 10px 20px;
      vertical-align: middle; }
      /* line 497, ../scss/layout.scss */
      #content .estimation-table2 tr th .estimate-ttitle {
        float: left;
        width: 49%;
        color: #444444;
        font-size: 15px;
        font-weight: bold; }
      /* line 506, ../scss/layout.scss */
      #content .estimation-table2 tr th .require {
        float: right;
        width: 35px;
        line-height: 18px;
        text-align: center;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-color: #FF5151;
        color: white;
        font-size: 11px;
        font-weight: bold; }
    /* line 520, ../scss/layout.scss */
    #content .estimation-table2 tr td {
      padding: 10px 20px;
      border-bottom: 1px solid #E3E3E3;
      vertical-align: middle; }
    /* line 526, ../scss/layout.scss */
    #content .estimation-table2 tr:last-child th, #content .estimation-table2 tr:last-child td {
      border-bottom: none; }
  /* line 529, ../scss/layout.scss */
  #content .shape-group {
    margin-top: 15px; }
    /* line 531, ../scss/layout.scss */
    #content .shape-group .shape-row {
      margin-top: 5px; }
      /* line 533, ../scss/layout.scss */
      #content .shape-group .shape-row .shape-col, #content .shape-group .shape-row .shape-col1, #content .shape-group .shape-row .shape-col2, #content .shape-group .shape-row .shape-col3, #content .shape-group .shape-row .shape-col4, #content .shape-group .shape-row .shape-col5, #content .shape-group .shape-row .shape-col6, #content .shape-group .shape-row .shape-col7, #content .shape-group .shape-row .shape-col8 {
        float: left;
        width: 140px;
        height: 113px; }
      /* line 538, ../scss/layout.scss */
      #content .shape-group .shape-row .shape-col1 {
        background: transparent url("../img/content/estimate_shape_img1.jpg") no-repeat 0 0 scroll; }
      /* line 542, ../scss/layout.scss */
      #content .shape-group .shape-row .shape-col2 {
        margin-left: 25px;
        background: transparent url("../img/content/estimate_shape_img2.jpg") no-repeat 0 0 scroll; }
      /* line 547, ../scss/layout.scss */
      #content .shape-group .shape-row .shape-col3 {
        margin-left: 25px;
        background: transparent url("../img/content/estimate_shape_img3.jpg") no-repeat 0 0 scroll; }
      /* line 552, ../scss/layout.scss */
      #content .shape-group .shape-row .shape-col4 {
        background: transparent url("../img/content/estimate_shape_img4.jpg") no-repeat 0 0 scroll; }
      /* line 556, ../scss/layout.scss */
      #content .shape-group .shape-row .shape-col5 {
        margin-left: 25px;
        background: transparent url("../img/content/estimate_shape_img5.jpg") no-repeat 0 0 scroll; }
      /* line 561, ../scss/layout.scss */
      #content .shape-group .shape-row .shape-col6 {
        margin-left: 25px;
        background: transparent url("../img/content/estimate_shape_img6.jpg") no-repeat 0 0 scroll; }
      /* line 566, ../scss/layout.scss */
      #content .shape-group .shape-row .shape-col7 {
        background: transparent url("../img/content/estimate_shape_img7.jpg") no-repeat 0 0 scroll; }
      /* line 570, ../scss/layout.scss */
      #content .shape-group .shape-row .shape-col8 {
        margin-left: 25px;
        background: transparent url("../img/content/estimate_shape_img8.jpg") no-repeat 0 0 scroll; }
  /* line 578, ../scss/layout.scss */
  #content .material-group {
    margin-top: 15px; }
    /* line 580, ../scss/layout.scss */
    #content .material-group .material-row {
      margin-top: 5px; }
      /* line 582, ../scss/layout.scss */
      #content .material-group .material-row .material-col, #content .material-group .material-row .material-col1, #content .material-group .material-row .material-col2, #content .material-group .material-row .material-col3, #content .material-group .material-row .material-col4, #content .material-group .material-row .material-col5, #content .material-group .material-row .material-col6, #content .material-group .material-row .material-col7 {
        float: left;
        width: 140px;
        height: 113px; }
      /* line 587, ../scss/layout.scss */
      #content .material-group .material-row .material-col1 {
        background: transparent url("../img/content/estimate_material_img1.jpg") no-repeat 0 0 scroll; }
      /* line 591, ../scss/layout.scss */
      #content .material-group .material-row .material-col2 {
        margin-left: 25px;
        background: transparent url("../img/content/estimate_material_img2.jpg") no-repeat 0 0 scroll; }
      /* line 596, ../scss/layout.scss */
      #content .material-group .material-row .material-col3 {
        margin-left: 25px;
        background: transparent url("../img/content/estimate_material_img3.jpg") no-repeat 0 0 scroll; }
      /* line 601, ../scss/layout.scss */
      #content .material-group .material-row .material-col4 {
        background: transparent url("../img/content/estimate_material_img4.jpg") no-repeat 0 0 scroll; }
      /* line 605, ../scss/layout.scss */
      #content .material-group .material-row .material-col5 {
        margin-left: 25px;
        background: transparent url("../img/content/estimate_material_img5.jpg") no-repeat 0 0 scroll; }
      /* line 610, ../scss/layout.scss */
      #content .material-group .material-row .material-col6 {
        margin-left: 25px;
        background: transparent url("../img/content/estimate_material_img6.jpg") no-repeat 0 0 scroll; }
      /* line 615, ../scss/layout.scss */
      #content .material-group .material-row .material-col7 {
        background: transparent url("../img/content/estimate_material_img7.jpg") no-repeat 0 0 scroll; }
  /* line 622, ../scss/layout.scss */
  #content .surface-group {
    margin-top: 15px; }
    /* line 624, ../scss/layout.scss */
    #content .surface-group .surface-row {
      margin-top: 5px; }
      /* line 626, ../scss/layout.scss */
      #content .surface-group .surface-row .surface-col, #content .surface-group .surface-row .surface-col1, #content .surface-group .surface-row .surface-col2, #content .surface-group .surface-row .surface-col3, #content .surface-group .surface-row .surface-col4, #content .surface-group .surface-row .surface-col5, #content .surface-group .surface-row .surface-col6, #content .surface-group .surface-row .surface-col7, #content .surface-group .surface-row .surface-col8 {
        float: left;
        width: 140px;
        height: 113px; }
      /* line 631, ../scss/layout.scss */
      #content .surface-group .surface-row .surface-col1 {
        background: transparent url("../img/content/estimate_surface_img1.jpg") no-repeat 0 0 scroll; }
      /* line 635, ../scss/layout.scss */
      #content .surface-group .surface-row .surface-col2 {
        margin-left: 25px;
        background: transparent url("../img/content/estimate_surface_img2.jpg") no-repeat 0 0 scroll; }
      /* line 640, ../scss/layout.scss */
      #content .surface-group .surface-row .surface-col3 {
        margin-left: 25px;
        background: transparent url("../img/content/estimate_surface_img3.jpg") no-repeat 0 0 scroll; }
      /* line 645, ../scss/layout.scss */
      #content .surface-group .surface-row .surface-col4 {
        background: transparent url("../img/content/estimate_surface_img4.jpg") no-repeat 0 0 scroll; }
      /* line 649, ../scss/layout.scss */
      #content .surface-group .surface-row .surface-col5 {
        margin-left: 25px;
        background: transparent url("../img/content/estimate_surface_img5.jpg") no-repeat 0 0 scroll; }
      /* line 654, ../scss/layout.scss */
      #content .surface-group .surface-row .surface-col6 {
        margin-left: 25px;
        background: transparent url("../img/content/estimate_surface_img6.jpg") no-repeat 0 0 scroll; }
      /* line 659, ../scss/layout.scss */
      #content .surface-group .surface-row .surface-col7 {
        background: transparent url("../img/content/estimate_surface_img7.jpg") no-repeat 0 0 scroll; }
      /* line 663, ../scss/layout.scss */
      #content .surface-group .surface-row .surface-col8 {
        margin-left: 25px;
        background: transparent url("../img/content/estimate_surface_img8.jpg") no-repeat 0 0 scroll; }
  /* line 671, ../scss/layout.scss */
  #content .box_shape {
    margin-top: 5px; }
    /* line 674, ../scss/layout.scss */
    #content .box_shape .radio_shape .wpcf7-list-item, #content .box_shape .radio_material .wpcf7-list-item, #content .box_shape .radio_surface .wpcf7-list-item {
      width: 140px;
      margin-left: 25px;
      display: inline-block; }
    /* line 679, ../scss/layout.scss */
    #content .box_shape .radio_shape .wpcf7-list-item:first-child, #content .box_shape .radio_material .wpcf7-list-item:first-child, #content .box_shape .radio_surface .wpcf7-list-item:first-child {
      margin-left: 0; }
    /* line 684, ../scss/layout.scss */
    #content .box_shape .radio_print .wpcf7-list-item, #content .box_shape .radio_foil .wpcf7-list-item, #content .box_shape .radio_numberclr .wpcf7-list-item, #content .box_shape .radio_deliverytime .wpcf7-list-item {
      margin-left: 20px;
      display: inline-block; }
    /* line 688, ../scss/layout.scss */
    #content .box_shape .radio_print .wpcf7-list-item:first-child, #content .box_shape .radio_foil .wpcf7-list-item:first-child, #content .box_shape .radio_numberclr .wpcf7-list-item:first-child, #content .box_shape .radio_deliverytime .wpcf7-list-item:first-child {
      margin-left: 0; }
  /* line 700, ../scss/layout.scss */
  #content #choose-thinkness {
    display: none; }
  /* line 701, ../scss/layout.scss */
  #content #choosed-thinkness {
    display: display; }
  /* line 705, ../scss/layout.scss */
  #content .about-content-top {
    position: relative;
    background: transparent url("../img/content/about_content_top_bg.jpg") no-repeat 0 0 scroll;
    height: 936px;
    margin-top: 30px; }
    /* line 710, ../scss/layout.scss */
    #content .about-content-top .about-contop-title {
      position: absolute;
      top: 8%;
      left: 15%;
      right: 35%;
      color: #444444;
      font-size: 48px;
      font-weight: bold; }
    /* line 721, ../scss/layout.scss */
    #content .about-content-top .about-contop-ltitle, #content .about-content-top .about-contop-rtitle {
      color: white;
      font-size: 26px;
      font-weight: bold; }
    /* line 728, ../scss/layout.scss */
    #content .about-content-top .about-contop-ltitle {
      position: absolute;
      bottom: 41%;
      left: 15%; }
    /* line 733, ../scss/layout.scss */
    #content .about-content-top .about-contop-rtitle {
      position: absolute;
      bottom: 41%;
      right: 27%; }
    /* line 738, ../scss/layout.scss */
    #content .about-content-top .about-contop-ltext {
      position: absolute;
      top: 62.5%;
      left: 4%;
      right: 63%;
      padding: 0;
      margin: 0;
      list-style: none; }
      /* line 746, ../scss/layout.scss */
      #content .about-content-top .about-contop-ltext li {
        color: #06BEEB;
        margin-bottom: 12px;
        width: 100%;
        padding-left: 25px;
        font-size: 16px;
        font-weight: bold; }
      /* line 756, ../scss/layout.scss */
      #content .about-content-top .about-contop-ltext li:nth-child(1) {
        line-height: 65px; }
      /* line 757, ../scss/layout.scss */
      #content .about-content-top .about-contop-ltext li:nth-child(2) {
        height: 75px;
        padding-top: 9px; }
      /* line 761, ../scss/layout.scss */
      #content .about-content-top .about-contop-ltext li:nth-child(3), #content .about-content-top .about-contop-ltext li:nth-child(4) {
        line-height: 82px; }
    /* line 763, ../scss/layout.scss */
    #content .about-content-top .about-contop-rtext {
      position: absolute;
      top: 62.5%;
      right: 3.5%;
      left: 39%;
      padding: 0;
      margin: 0;
      list-style: none; }
      /* line 771, ../scss/layout.scss */
      #content .about-content-top .about-contop-rtext li {
        color: #444444;
        font-size: 13px;
        padding: 10px 20px;
        margin-bottom: 10px; }
        /* line 776, ../scss/layout.scss */
        #content .about-content-top .about-contop-rtext li .about-rtext-clr {
          color: #F80000;
          font-size: 15px;
          font-weight: bold; }
  /* line 789, ../scss/layout.scss */
  #content .privacy-content {
    border: 1px solid #E3E3E3;
    background-color: #F9F9F9;
    padding: 25px 30px;
    line-height: 1.8em; }
  /* line 799, ../scss/layout.scss */
  #content .work-content .work-left {
    width: 308px;
    float: left; }
  /* line 803, ../scss/layout.scss */
  #content .work-content .work-right {
    float: left;
    margin-left: 25px;
    width: 417px;
    border-collapse: separate;
    border: 3px solid #E3E3E3;
    border-spacing: 0; }
    /* line 811, ../scss/layout.scss */
    #content .work-content .work-right tr th {
      width: 90px;
      border-bottom: 1px solid #E3E3E3;
      background: #F9F9F9;
      text-align: center;
      font-size: 14px;
      font-weight: bold; }
    /* line 821, ../scss/layout.scss */
    #content .work-content .work-right tr td {
      padding: 10px 20px;
      border-bottom: 1px solid #E3E3E3; }
    /* line 826, ../scss/layout.scss */
    #content .work-content .work-right tr:last-child th, #content .work-content .work-right tr:last-child td {
      border-bottom: none; }
  /* line 830, ../scss/layout.scss */
  #content .work-info-last {
    margin-top: 25px;
    line-height: 1.8em; }
  /* line 837, ../scss/layout.scss */
  #content .company-content {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%; }
    /* line 842, ../scss/layout.scss */
    #content .company-content tr th {
      width: 220px;
      border-bottom: 1px solid #E3E3E3;
      background: #F9F9F9;
      padding-left: 25px;
      text-align: left;
      font-size: 14px;
      font-weight: bold; }
    /* line 853, ../scss/layout.scss */
    #content .company-content tr td {
      padding: 20px 5px 25px 20px;
      border-bottom: 1px solid #E3E3E3; }
  /* line 862, ../scss/layout.scss */
  #content #factory-content {
    margin-top: 40px; }
  /* line 865, ../scss/layout.scss */
  #content .factory-tabs a {
    width: 245px; }
  /* line 868, ../scss/layout.scss */
  #content .factory-tabs a.offset {
    background-color: #1472D0;
    border: 1px solid #136CC6; }
  /* line 872, ../scss/layout.scss */
  #content .factory-tabs a.flexographic {
    background-color: #79CA31;
    border: 1px solid #6DB52D; }
  /* line 876, ../scss/layout.scss */
  #content .factory-tabs a.screen {
    background-color: #FD7352;
    border: 1px solid #FD5931; }
  /* line 880, ../scss/layout.scss */
  #content .factory-tabs a.offset:hover, #content .factory-tabs a.flexographic:hover, #content .factory-tabs a.screen:hover {
    opacity: 0.7;
    filter: alpha(opacity=70); }
  /* line 884, ../scss/layout.scss */
  #content .factory-tabs a.offset.selected {
    background-color: white;
    color: #1472D0; }
  /* line 888, ../scss/layout.scss */
  #content .factory-tabs a.flexographic.selected {
    background-color: white;
    color: #79CA31; }
  /* line 892, ../scss/layout.scss */
  #content .factory-tabs a.screen.selected {
    background-color: white;
    color: #FD7352; }
  /* line 898, ../scss/layout.scss */
  #content .videoWrapper {
    position: relative;
    padding-bottom: 57.4%;
    height: 0; }
    /* line 902, ../scss/layout.scss */
    #content .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 98%; }
  /* line 912, ../scss/layout.scss */
  #content .factory-point1 {
    padding: 13px 0;
    border-top: 1px solid #E4E4E4; }
    /* line 915, ../scss/layout.scss */
    #content .factory-point1 .fac-point1-left {
      float: left;
      position: relative;
      width: 81px;
      text-align: center;
      padding-left: 22px; }
      /* line 921, ../scss/layout.scss */
      #content .factory-point1 .fac-point1-left span {
        position: absolute;
        top: 7px;
        left: 40px;
        color: white;
        font-size: 14px;
        font-family: 'Kozuka Gothic Pr6N'; }
    /* line 930, ../scss/layout.scss */
    #content .factory-point1 .fac-point1-right {
      float: left;
      width: 615px;
      padding: 5px 20px 0 12px; }
  /* line 936, ../scss/layout.scss */
  #content .factory-point1.first-child {
    padding: 25px 0; }
    /* line 938, ../scss/layout.scss */
    #content .factory-point1.first-child .fac-point1-right {
      float: left;
      width: 615px;
      padding: 0 20px 0 12px; }
  /* line 944, ../scss/layout.scss */
  #content .factory-point1:last-child {
    border-bottom: 1px solid #E4E4E4; }
  /* line 948, ../scss/layout.scss */
  #content .facoffset-point2, #content .facflex-point2, #content .facscreen-point2 {
    padding: 20px 40px;
    list-style: none;
    margin: 0; }
    /* line 952, ../scss/layout.scss */
    #content .facoffset-point2 li, #content .facflex-point2 li, #content .facscreen-point2 li {
      padding-bottom: 7px; }
    /* line 953, ../scss/layout.scss */
    #content .facoffset-point2 li:last-child, #content .facflex-point2 li:last-child, #content .facscreen-point2 li:last-child {
      padding-bottom: 0; }
  /* line 956, ../scss/layout.scss */
  #content .facoffset-point2 {
    background: transparent url("../img/content/facoffset_point2_bg.jpg") no-repeat 0 0 scroll;
    height: 137px; }
  /* line 961, ../scss/layout.scss */
  #content .facflex-point2 {
    background: transparent url("../img/content/facflex_point2_bg.jpg") no-repeat 0 0 scroll;
    height: 195px;
    line-height: 1.8em; }
    /* line 966, ../scss/layout.scss */
    #content .facflex-point2 li {
      padding-bottom: 5px; }
  /* line 968, ../scss/layout.scss */
  #content .facscreen-point2 {
    background: transparent url("../img/content/facscreen_point2_bg.jpg") no-repeat 0 0 scroll;
    height: 82px;
    line-height: 1.8em; }
    /* line 973, ../scss/layout.scss */
    #content .facscreen-point2 li {
      padding-bottom: 5px; }
  /* line 976, ../scss/layout.scss */
  #content .facoffset-img {
    padding: 0 20px; }
    /* line 978, ../scss/layout.scss */
    #content .facoffset-img .facoffset-img-left {
      float: left; }
    /* line 979, ../scss/layout.scss */
    #content .facoffset-img .facoffset-img-right {
      float: left;
      margin-left: 20px; }
  /* line 985, ../scss/layout.scss */
  #content .factory-subtitle, #content .facflex-subtitle {
    background: transparent url("../img/content/factory_subtitle.jpg") no-repeat 0 0 scroll;
    line-height: 48px;
    margin-bottom: 25px;
    padding-left: 25px;
    color: #444444;
    font-size: 20px;
    font-weight: bold; }
  /* line 997, ../scss/layout.scss */
  #content .facflex-subtitle {
    background: transparent url("../img/content/facflex_last_title.jpg") no-repeat 0 0 scroll; }
  /* line 1002, ../scss/layout.scss */
  #content .factory-table {
    width: 100%;
    border-collapse: separate;
    border: 4px solid #E3E3E3;
    border-spacing: 0;
    margin-top: 40px; }
    /* line 1009, ../scss/layout.scss */
    #content .factory-table tr:first-child th {
      border: 1px solid #E3E3E3;
      width: 295px;
      text-align: center;
      color: white;
      line-height: 42px;
      padding: 0;
      font-size: 14px;
      font-weight: bold; }
    /* line 1021, ../scss/layout.scss */
    #content .factory-table tr:first-child th:nth-child(1) {
      width: 150px;
      background-color: #F9F9F9; }
    /* line 1025, ../scss/layout.scss */
    #content .factory-table tr:first-child th:nth-child(2) {
      background-color: #47BAAE; }
    /* line 1026, ../scss/layout.scss */
    #content .factory-table tr:first-child th:nth-child(3) {
      background-color: #0AA393; }
    /* line 1029, ../scss/layout.scss */
    #content .factory-table tr th {
      border: 1px solid #E3E3E3;
      background-color: #F9F9F9;
      padding: 14px 27px;
      text-align: left;
      font-size: 14px;
      font-weight: bold; }
    /* line 1039, ../scss/layout.scss */
    #content .factory-table tr th.factory-th-clr {
      background-color: #EFEFEF; }
    /* line 1040, ../scss/layout.scss */
    #content .factory-table tr td {
      border: 1px solid #E3E3E3;
      padding: 14px 24px; }
  /* line 1047, ../scss/layout.scss */
  #content .factory-ctitle {
    background: transparent url("../img/content/factory_con_title.jpg") no-repeat 0 0 scroll;
    text-align: center;
    line-height: 43px;
    color: white;
    font-size: 18px;
    font-weight: bold; }
  /* line 1058, ../scss/layout.scss */
  #content .facflex-last {
    margin-bottom: 28px; }
    /* line 1060, ../scss/layout.scss */
    #content .facflex-last .facflex-ltitle {
      position: relative;
      margin-bottom: 15px; }
      /* line 1063, ../scss/layout.scss */
      #content .facflex-last .facflex-ltitle span {
        position: absolute;
        top: 15px;
        left: 65px;
        color: #009F8F;
        font-size: 18px;
        font-weight: bold; }
  /* line 1075, ../scss/layout.scss */
  #content .facflex-last:last-child {
    margin-bottom: 0; }
  /* line 1078, ../scss/layout.scss */
  #content .facscreen-last .facscreen-last-left .facscreen-ltitle, #content .facscreen-last .facscreen-last-right .facscreen-rtitle {
    line-height: 40px;
    height: 49px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold; }
  /* line 1089, ../scss/layout.scss */
  #content .facscreen-last .facscreen-last-left .facscreen-ltext, #content .facscreen-last .facscreen-last-right .facscreen-rtext {
    height: 82px;
    padding: 20px 40px;
    list-style: none;
    margin: 0; }
    /* line 1094, ../scss/layout.scss */
    #content .facscreen-last .facscreen-last-left .facscreen-ltext li, #content .facscreen-last .facscreen-last-right .facscreen-rtext li {
      padding-bottom: 7px;
      font-size: 14px;
      font-weight: bold; }
    /* line 1101, ../scss/layout.scss */
    #content .facscreen-last .facscreen-last-left .facscreen-ltext li:last-child, #content .facscreen-last .facscreen-last-right .facscreen-rtext li:last-child {
      padding-bottom: 0; }
  /* line 1104, ../scss/layout.scss */
  #content .facscreen-last .facscreen-last-left {
    float: left;
    width: 365px; }
    /* line 1107, ../scss/layout.scss */
    #content .facscreen-last .facscreen-last-left .facscreen-ltitle {
      background: transparent url("../img/content/facscreen_ltitle.jpg") no-repeat 0 0 scroll; }
    /* line 1111, ../scss/layout.scss */
    #content .facscreen-last .facscreen-last-left .facscreen-ltext {
      background: transparent url("../img/content/facscreen_ltext_bg.jpg") no-repeat 0 0 scroll; }
  /* line 1116, ../scss/layout.scss */
  #content .facscreen-last .facscreen-last-right {
    float: left;
    width: 365px;
    margin-left: 20px; }
    /* line 1120, ../scss/layout.scss */
    #content .facscreen-last .facscreen-last-right .facscreen-rtitle {
      background: transparent url("../img/content/facscreen_rtitle.jpg") no-repeat 0 0 scroll; }
    /* line 1124, ../scss/layout.scss */
    #content .facscreen-last .facscreen-last-right .facscreen-rtext {
      background: transparent url("../img/content/facscreen_rtext_bg.jpg") no-repeat 0 0 scroll; }
  /* line 1131, ../scss/layout.scss */
  #content .facscreen-top img {
    width: 100%;
    height: 430px; }
  /* line 1139, ../scss/layout.scss */
  #content .price-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0; }
    /* line 1144, ../scss/layout.scss */
    #content .price-table tr:first-child th {
      border: 1px solid #E3E3E3;
      background-color: #F9F9F9;
      text-align: center;
      padding: 9px 0;
      font-size: 14px;
      font-weight: bold; }
    /* line 1154, ../scss/layout.scss */
    #content .price-table tr:first-child th:first-child {
      width: 90px;
      padding: 9px 0 9px 20px;
      text-align: left; }
    /* line 1161, ../scss/layout.scss */
    #content .price-table tr th {
      border: 1px solid #E3E3E3;
      background-color: #F9F9F9;
      padding: 14px 0;
      text-align: center;
      font-size: 14px;
      font-weight: bold; }
    /* line 1171, ../scss/layout.scss */
    #content .price-table tr th:first-child {
      width: 90px;
      padding: 9px 0 9px 20px;
      text-align: left; }
    /* line 1176, ../scss/layout.scss */
    #content .price-table tr td {
      border: 1px solid #E3E3E3;
      padding: 14px 24px;
      text-align: center; }
  /* line 1188, ../scss/layout.scss */
  #content .blog-subtitle {
    background: transparent url("../img/content/blog_subtitle.jpg") no-repeat 0 0 scroll;
    line-height: 48px;
    margin-bottom: 25px;
    padding-left: 25px;
    color: #444444;
    font-size: 20px;
    font-weight: bold; }
  /* line 1200, ../scss/layout.scss */
  #content .post-row-content .blog-btnrm {
    float: right;
    padding: 3px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #009f8f; }
    /* line 1205, ../scss/layout.scss */
    #content .post-row-content .blog-btnrm a {
      color: white; }
    /* line 1208, ../scss/layout.scss */
    #content .post-row-content .blog-btnrm a:hover {
      opacity: 0.5; }
  /* line 1213, ../scss/layout.scss */
  #content .post-row-content .post-row-meta .fa {
    padding: 0 5px 0 20px; }
  /* line 1216, ../scss/layout.scss */
  #content .post-row-content .post-row-meta .fa:first-child {
    padding-right: 5px;
    padding-left: 0; }
  /* line 1221, ../scss/layout.scss */
  #content .post-row-content .blog-content, #content .post-row-content .post-row-description {
    margin-top: 10px; }
  /* line 1224, ../scss/layout.scss */
  #content .navigation {
    margin-top: 20px;
    margin-bottom: 150px; }
    /* line 1227, ../scss/layout.scss */
    #content .navigation a {
      color: #009f8f; }
    /* line 1228, ../scss/layout.scss */
    #content .navigation a:hover {
      text-decoration: underline; }
  /* line 1233, ../scss/layout.scss */
  #content .wp-pagenavi {
    margin-top: 40px;
    margin-bottom: 150px;
    text-align: center; }
    /* line 1237, ../scss/layout.scss */
    #content .wp-pagenavi .pages, #content .wp-pagenavi .previouspostslink, #content .wp-pagenavi .page, #content .wp-pagenavi .nextpostslink {
      background-color: #009f8f;
      color: #fff; }
    /* line 1250, ../scss/layout.scss */
    #content .wp-pagenavi span.current {
      border-color: #009f8f !important; }
  /* line 1254, ../scss/layout.scss */
  #content #category {
    margin-bottom: 150px; }
